<div class="modal hide create-api-key">
    <form {{action "createKey" on="submit"}}>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h2>Create key?</h2>
        </div>
        <div class="modal-body">
            <span class="label7a">This will create a new API Key</span>
            <br>
            <div class="control-group">
                  <label class="control-label">Key Name (Optional)</label>
                  {{input type="text" value=keyName class="key-name-input full"}}
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" href="#" class="create-key-button">Create</a>
        </div>
    </form>
</div>
<a href="#" {{action "open"}} class="add create-api-key-btn">Add Key</a>
