{{#if key.secret}}
  <span class="api-key-secret">
    {{#if showSecret}}
        {{key.secret}}
    {{else}}
      <a href="#" {{action "showKeySecret"}}>Show key secret</a>
    {{/if}}
  </span>
{{/if}}
