<div class="modal hide create-api-key">
	<form {{action "createKey" on="submit"}}>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Create key</h2>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label">Key Name (Optional)</label>
				{{view Ember.TextField type="text" value=keyName class="full"}}
			</div>
		</div>
		<div class="modal-footer">
			{{view Balanced.ModalActionButtonsView submitTitle="Add"}}
		</div>
	</form>
</div>

<a href="#" {{action "open"}} class="add create-api-key-btn">Add Key</a>
