<div class="modal hide modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h2>{{title}}</h2>
    </div>
    <div class="modal-body">
      <div class="progress number2a">
        <div class="progress-label">
          {{progressText}}
        </div>
        <div class="progress-bar" {{bind-attr style="cssStyle"}}>
        </div>
      </div>
    </div>
</div>
