<div {{bind-attr class=":title-block wrapperClasses"}}>
	{{#if icon}}
		<span class="tb-icon">
			<i {{bind-attr class=":icon icon"}}></i>
		</span>
	{{/if}}
	<span class="tb-content">
		{{title}}
	</span>
</div>
