<div {{bind-attr class=":title-bar wrapperClasses"}}>
	<span class="tb-label">
		{{#if icon}}
			<i {{bind-attr class=":icon icon"}}></i>
		{{/if}}
	</span>
	<span class="tb-content">
		{{title}}
	</span>
</div>
