<dl class="dl-horizontal">
	<dt>Payment method</dt>
	<dd>
		<span>
		{{#link-to funding_instrument.route_name funding_instrument}}
			{{funding_instrument.last_four}} {{funding_instrument.brand}} ({{funding_instrument.type_name}})
		{{/link-to}}
		</span>
	</dd>
</dl>
