<div class="customer-info">
	<header>
		<h3>Customer</h3>
	</header>
	<div class="main-header">
		<div class="row">
			<div class="span2 label">
				<div {{bind-attr class=":icon customer.is_business:business-info:person-info"}}>Customer</div>
			</div>
			<div class="span18 title label7a">
				{{#if customer}}
					<span>{{#link-to 'customers' customer class="linky"}}{{customer.display_me_with_email}}{{/link-to}}</span>
				{{else}}
					<span class="none">None</span>
				{{/if}}
			</div>
		</div>
	</div>
</div>
