<div class="modal hide delete-user">
	<form {{action "confirm" on="submit"}}>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Remove user</h2>
		</div>

		<div class="modal-body">
			<div class="content">
				<p>Are you sure you want to remove user?</p>
				<p>This user will no longer have access to the dashboard.</p>
				<ul>
					<li class="sl-sb">Email: {{user.email_address}}</li>
				</ul>
			</div>
		</div>

		<div class="modal-footer">
			{{view "modals/action-buttons" submitTitle="Remove" submittingTitle="Remove"}}
		</div>
	</form>
</div>

<div class="delete-user-outer">
	<a {{action "open"}}>
		<i class="confirm-delete-user icon-table-x action"></i>
	</a>
</div>
