<h3 class="embedded-record-title">Logs
    {{#unless results.isLoaded}}<div class="loader-container"><span class="loader loading"></span></div>{{/unless}}
</h3>
<div class="results embedded logs">
    <div class="items-wrapper">
        {{view Balanced.LogsEmbeddedResultsView}}
    </div>
</div>
