<h1 class="page-title">Logs
    {{#unless model.isLoaded}}<div class="loader-container"><span class="loader loading"></span></div>{{/unless}}
</h1>
<div class="results">
    {{view Balanced.LogsResultsView}}
</div>