.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs/*
./results
build/*
dist/*
js/*
report/*
coverage/*
temp/*

ext.json
npm-debug.log
node_modules

# bower
static/javascripts
.bower-cache
.bower-registry
.bower-tmp

# emacs and other IDEs
*~
*.iml

# sublime project files
*.sublime-project
*.sublime-workspace

# development ssl certificate
*.crt
*.key
