.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs/*
./results
build/*
dist/*
report/*
temp/*

npm-debug.log
node_modules

# emacs and other IDEs
*~
*.iml

# sublime project files
*.sublime-project
*.sublime-workspace

# development ssl certificate
*.crt
*.key
