<ul class="dropdown-menu">
	<li>
		<a {{action "openModal" "modals/add-funds-modal" view.marketplace}}>Add funds</a>
	</li>
	<li>
		<a {{action "openModal" "modals/withdraw-funds-modal" view.marketplace}}>Withdraw funds</a>
	</li>
</ul>
