<div class="key-value-display linked-resources">
	<h3>{{view.title}}</h3>

	{{#if view.linkedResources}}
		<ul>
			{{#each linkedResource in view.linkedResources}}
			<li>
				{{#link-to linkedResource.resource.route_name linkedResource.resource title=linkedResource.hoverValue}}
					{{linkedResource.value}}
				{{/link-to}}
			</li>
			{{/each}}
		</ul>

		{{#if view.resources.hasNextPage}}
			<a class="btn sm secondary" {{action 'loadMore' view.resources}}>Load more</a>
		{{/if}}
	{{/if}}
</div>
