.btn {
  .icon {
    display: inline-block;
    font-size: 19px;
    line-height: 27px;
    vertical-align: bottom;
  }

  &.btn-loader {
    background-color: transparent;
    border: 3px solid transparent;
    display: inline-block;
    padding: 0 3px;
    text-align: center;
    text-transform: none;

    &:hover {
      background-color: inherit;
      color: @black !important;
    }
  }
}

.page-navigation {
  margin-bottom: 10px;

  &.details-page {
    margin-bottom: 45px;
  }

  h1.page-title {
    .sl-lg-sb;
    margin: 0;
    float: left;

    .page-type {
      .sl-sb;
      margin-bottom: 5px;
    }
  }

  .filter {
    .sl-md;
    border-bottom: @searchBorderWidth solid transparent;
    color: @gray4;
    display: inline-block;
    padding: 3px 0;
    margin: 0 6px;
    &.selected {
      border-bottom-color: @black;
      color: @black;
    }
  }

  .page-actions {
    float: right;
    line-height: 65px;

    .btn {
      margin-right: 4px;
    }
  }
}

/*.title-bar-color(tb-curry-yellow, @curryYellow60, @curryYellow100, @white);*/

ul.styled {
  list-style: initial;

  li {
    list-style: initial;
  }
}
