.tb, .title-bar {
  @titleBarHeight: 70px;
  height: @titleBarHeight;
  margin-bottom: 0;

  .tb-label {
    background-image: none;
    color: @white;
    display: block;
    float: left;
    font-size: 36px;
    height: @titleBarHeight;
    line-height: 86px;
    text-align: center;
    text-indent: 0;
    width: @titleBarHeight;
  }

  .tb-content {
    font: normal normal normal 22px/80px NimbusSanNov-Med,Arial,sans-serif;
    padding: 0 20px;
  }

  &, &.tb-default {
    background-color: @gray2;
    color: @black;
    .tb-label {
      background-color: @gray7;
      color: @white;
    }
  }

  &.tb-imperial-red {
    background-color: @imperialRed60;
    color: @white;
    .tb-label {
      background-color: @imperialRed100;
    }
  }

  &.tb-egyptian-blue {
    background-color: @egyptianBlue60;
    .tb-label {
      background-color: @egyptianBlue100;
    }
  }
}
