table.table-summary {
  background-color: #FFF;
  th:first-child {
    padding: 0;
  }

  th {
    font-size: 16px;
    color: #000;
    font-style: italic;
  }
}

.table-column-icon {
  width: 16px;
}

.table-column.table-column-error {
  color: #F00;
}
