.table.table-fixed {
  table-layout: fixed;
  width: 100%;
  th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 5px;
  }
  tr {
    line-height: 36px;
  }
  th {
    height: 36px;
  }
}

.table-column-total {
  text-align: right;
  width: 100px;
}

.table-column-icon {
  width: 16px;
}

.table-column-20percent {
  width: 20%;
}

.table-column.table-column-error {
  color: @imperialRed100;
}

.table-column.table-column-success {
  color: @forestGreen100;
}

.table-border tbody tr {
  border-top: 1px solid @gray3;
}

