@import "/static/less/variables.less";
@import "/static/less/mixins.less";

form {
  //  what retard puts margin on a form element?
  margin: 0;

  label {
    font-family: nimbussannov-sembol;
    color: #000;
    margin-bottom: 0;

    &:after {
      content: ':';
      padding-right: 3px;
    }

    &.inline {
      display: inline;
    }
  }

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    border: 1px solid @inputBorderColor;
    border-radius: 0;
    color: #000;
    font-size: @inputFontSize;
    width: @inputFullWidth / 2;
    padding: @inputPadding;
    height: @inputHeight;
    line-height: @baseLineHeight * 1.3;
    &.full {
      width: @inputFullWidth - @inputPadding * 2;
    }
  }

  input[type="radio"] {
    margin: 0;
  }

  .radio-label {
    display: inline;
    font-family: 'nimbussannov-reg';
    padding: 0px 15px 0px 5px;
    &:after {
      content: '';
      padding-right: 0px;
    }
  }

  .input-append,
  .input-prepend {
    .add-on {
      font-size: @inputFontSize;
      height: 30px;
      min-width: @inputFontSize;
      line-height: 1.7;
      border-radius: 0;
      background-color: #000;
      color: #fff;
      border-color: #000;
      &:first-child {
        .border-radius(0);
      }
    }
  }
}

.form-horizontal {
  .control-group {
    margin-bottom: 5px;
  }
  .control-label {
    text-align: left;
    width: 30%;
  }
  .controls {
    margin-left: auto;
  }
}

.edit-inline {
  input, select {
    display: none;
  }
  a.edit {
    float: right;
    font-family: nimbussannov-med;
    font-size: 13px;
    .cssicon(
      @url: @iconsFile,
      @width: 14px,
      @height: 14px,
      @display: block
    );
    background-position: -18px -438px;
    &:hover {
      background-position: -68px -438px;
    }
  }
  &.edit {
    input, select {
      display: inherit;
    }
    .inline-label {
      display: none;
    }
    .inline-edit {
      background-color: #737373;
      color: #d9d9d9;
    }
  }
  .inline-label {
    padding-top: 5px;
    display: inline-block;
  }
  .controls {
    display: inline;
  }
  .help-inline {
    margin: 0;
  }
}
