// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.
@padding-base-vertical: 10px;

.form-errors {
  background-color: @imperialRed20;
  color: @imperialRed100;
}

.form-group {
  margin-bottom: 10px;

  label {
    display: inline;
  }

  label:after {
    content: "";
  }

  .alert {
    background-color: transparent;
    border-style: none;
    margin: 0;
    padding: 0;
    text-shadow: none;

    &.alert-error {
      background-color: @imperialRed80;
      color: @white;
      padding: 8px 10px;
      display: inline;
      position: absolute;
      margin-top: -36px;
      margin-left: -238px;
      width: 210px;
      .border-radius(0);

      p {
        color: @imperialRed100;

        &:last-of-type {
          margin-bottom: 0px;
        }
      }

      ul {
        padding-left: 15px;
      }

      &:after {
        content: '';
        display: inline-block;
        background-color: @imperialRed80;
        width: 12px;
        height: 12px;
        position: absolute;
        right: -5px;
        top: 12px;
        .rotate(45deg);
      }
    }
  }
}

.form-group.has-error {
  label {
    color: @imperialRed100;
  }
  input, select, textarea {
    border-color: @imperialRed100;
    background-color: @imperialRed20;
    color: @imperialRed100;
  }
}

.form-horizontal {
  .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: (@padding-base-vertical + 1); // Default padding plus a border
  }
}
