.com { color: #93a1a1; }
.lit { color: @balancedYellow; }
.pun, .opn, .clo { color: @code1d; }
.fun { color: #dc322f; }
.str, .atv { color: @code1e; }
.kwd, .prettyprint .tag { color: @balancedYellow; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; line-height: 21px; }

.prettyprint {
  padding: 10px;
  background-color: @white;
  border: 1px solid #dddddd;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 51px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}