@import "/static/less/variables.less";
@import "/static/less/mixins.less";

#invoices {
	th.amount {
		padding-right: 0;
	}
	td.amount {
		padding-top: 12px;
	}
	td.status {
		padding-top: 12px;
	}
	.amount {
		float: right;
  	text-align: right;
  	a {
      font-family: @baseFontFamilyBold;
      color: @black;
    }
	}
	.status {
		float: right;
	}
}