@import "/static/less/variables.less";
@import "/static/less/mixins.less";

#invoices {
	th.amount {
		padding-right: 0;
	}
	.amount {
		text-align: right;
		a {
			font-family: @baseFontFamilyBold;
			color: @black;
		}
	}
	.status {
		padding-left: 10px;
	}
}