@import "/static/less/variables.less";
@import "/static/less/mixins.less";

/*
* pages.less
*
* Here we define less/css for the main section of pages.
*
*/

.main-header {
  width: 100%;
  height: 75px;
  margin: 0 0 35px 0;
  border: 0px;

  div.label {
    display: table;
    margin: 0px;
    height: 100%;

    .icon {
      background-image: @iconsFile;
      text-indent: -4000px;
    }

    span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }

  div.title {
    display: table;
    height: 100%;

    span {
      line-height: normal;
      display: table-cell;
      vertical-align: middle;
    }
  }

  div.buttons {
    height: 100%;
    margin-top: 4px;
    margin-left: 0px;

    &.single-button {
      margin-top: 20px;
    }

    a {
      float: right;
      display: block;
      width: 80%;
      cursor: pointer;

      &:first-of-type {
        margin-bottom: 4px;
      }
    }
  }
}

//  each section of information should look like
//  <section class="thisthing-info">...</section>
section[class$="-info"] {
  margin-bottom: 4em;
  header {
    border-bottom: 1px solid #bcbcbc;
    h3 {
      margin-bottom: 5px;
      line-height: 1em;
    }
    margin-bottom: 10px;
    .add {
      float: right;
      font-family: nimbussannov-med;
      font-size: 13px;
    }
  }
}

@itemIconBackground: @gray4;
@itemBackground: @gray2;

.span11 + .span8 {
  section[class$="-info"] {
    float: left;
    width: 100%;
  }
}

.sidebar-items {
  li {
    background-color: @itemBackground;
    margin-bottom: 5px;
    clear: both;
    float: left;
    width: 100%;
    position: relative;

    a, a:visited, a:hover {
      color: @gray5;
    }
  }
  .icon {
    background-color: @itemIconBackground;
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    background-image: @iconsFile;
    text-indent: -4000px;
  }
  .details {
    float: left;
    padding: 10px;
    .name {
      display: block;
    }
  }
  .actions {
    background-color: @itemIconBackground;
    clear: both;
    text-align: right;
    padding: 5px;
    width: 335px;
    color: @white;
    font-style: italic;
  }
}

.bank-account-info {
  .icon {
    background-position: -123px -300px;
  }

  .icon-verified {
    background-position: -63px -300px;
  }
}

.card-info {
  .icon {
    background-position: -60px -360px;
  }
}
