@import "/static/less/variables.less";
@import "/static/less/mixins.less";

/*
* pages.less
*
* Here we define less/css for the main section of pages.
*
*/


//  each section of information should look like
//  <section class="thisthing-info">...</section>
section[class$="-info"] {
  margin-bottom: 4em;
  header {
    border-bottom: 1px solid #bcbcbc;
    h3 {
      margin-bottom: 5px;
      line-height: 1em;
    }
    margin-bottom: 10px;
    .add {
      float: right;
      font-family: nimbussannov-med;
      font-size: 13px;
    }
  }
}

@itemWarningIconBackground: rgb(240, 129, 118);
@itemWarningBackground: rgb(250, 210, 200);
@itemSuccessIconBackground: rgb(140, 183, 168);
@itemSuccessBackground: rgb(218, 232, 226);

.span11 + .span8 {
  section[class$="-info"] {
    float: left;
    width: 100%;
  }
}

.sidebar-items {
  li {
    background-color: @itemSuccessBackground;
    margin-bottom: 5px;
    clear: both;
    float: left;
    width: 100%;
    position: relative;

    &.unverified {
      background-color: @itemWarningBackground;
      .icon, .actions {
        background-color: @itemWarningIconBackground;
      }
    }
  }
  .icon {
    background-color: @itemSuccessIconBackground;
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    background-image: @iconsFile;
    text-indent: -4000px;
  }
  .details {
    float: left;
    padding: 10px;
    .name {
      display: block;
    }
  }
  .actions {
    background-color: @itemSuccessIconBackground;
    clear: both;
    text-align: right;
    padding: 5px;
    width: 335px;
  }
}

.bank-account-info {
  .icon {
    background-position: 0px -300px;
  }
  .verified {
    .icon {
      background-position: -60px -300px;
    }
  }
}

.card-info {
  .icon {
    background-position: 0px -360px;
  }
  .verified {
    background-position: -60px -360px;
  }
}
