/*
* Site structure
*
* Behold, the structure of the site. The following defines the colors, the
* look, and the feel of the main structural components of the site.
*/
@marketplaceNavIconSize: 50px;
@marketplaceNavBackground: @gray2;
@marketplaceNavColor: @gray4;
@marketplaceNavTriangleSize: 10px;

#header {

  #logo {
    height: @headerHeight;
    width: 32px;
    float: left;

    .img {
      .cssicon(
        @url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAMAAAC+oj0CAAAAV1BMVEVymix4oi/vQDXjPDJ4oi94oi/vQDXvQDXvQDXvQDV4oi91ni7vQDXqPjN4oi/foRLanRHopxNznC3mPTPopxPopxMAAABwmCzgPDHanRHopxN4oi/vQDXwPhJhAAAAF3RSTlPbICDbYBBQYEAQgLOAs1DH7hDHx6CAAHwvTFAAAABmSURBVHja1cjXDYAwDABR01sCpAEh2X9ObCFkJLMA93cPSpcPtb0a92QLqDLWsdYJA8iUY7aJulkzTzdr4p55Jp1gUM61uOzWjg1sn/2Iw7IEyeHEguCVeBUciaNgT+wFG49qnrsAe+cllBc1FLYAAAAASUVORK5CYII='),
        @width: 16px,
        @height: 16px,
        @display: block
      );

      margin: 16px auto;
      background-size: 16px;
      background-repeat: no-repeat;

      &:hover {
        text-decoration: none;
      }
    }
  }

  #balanced-address {
    display: none;
  }
}

#marketplaces-and-search {
  margin-left: 0;

  #marketplaces.dropdown {
    width: 150px;
  }
}

#flogo {
  > .img {
    margin: 20px auto !important;
  }
}

footer {
  background-color: @white;
  border-top: 1px solid @marketplaceNavBackground;
  height: 60px;
  padding-left: 90px;
  position: relative;

  #flogo {
    border-right: 1px solid @marketplaceNavBackground;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 89px;
  }
  .social-icons {
    float: right;
    margin: 15px 20px 0;
    a {
      color: @gray3;
      display: inline-block;
      font-size: 23px;
      line-height: 38px;
      overflow: hidden;
      text-align: center;
      margin-right: 17px;
      &:hover {
        color: @gray4;
      }
    }
  }
  ul {
    margin: 20px;
    float: left;
  }
  li {
    display: block;
    float: left;

    span {
      .sl-sm;
      padding-right: 10px;
      color: @gray4;
    }
    a {
      .sl-sm;
      display: block;
      padding: 0 10px;
      color: @gray4;
      
      &:visited {
        color: @gray4;
      }

      &:hover {
        color: @black;
        text-decoration: none;
      }

      &:active {
        color: @black;
      }
    }
  }
}

#site-nav {
  float: right;
  margin-left: 0;

  .nav-item {
    float: left;
    height: @headerHeight;

    > a, > span {
      padding: 18px 0;
      display: block;
    }

    > a {
      color: @white;

      &:hover {
        background-color: @gray9;
        text-decoration: none;
      }
    }
  }
}

#go-live-menu {
  text-align: center;
  width: 150px;
}

#help-menu {
  text-align: center;

  .icon-question-mark {
    font-size: 16px;
    color: @gray4;
    background-color: @gray7;
    .border-radius(100%);    
    padding: 11px 8px 5px;
  }
}

#login-menu {
  text-align: center;
  width: 88px;
}

#user-menu {
  text-align: center;
  min-width: 90px;

  a.dropdown-toggle.gravatar {
    padding: 0;
    opacity: 0.6;

    &:hover {
      opacity: 1; 
    }
  }

  .profile.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: -60px -160px;
    margin: 10px;
    .border-radius(100%);
  }

  .caret {
    margin-top: 21px;
  }

  .dropdown-menu {
    right: 0;
    left: auto;
  }
}

#content {
  margin-left: @marketplaceNavWidth;
  min-height: @mainMinHeight;
  padding: @mainVerticalPadding;
  position: relative;

  &.no-min-height {
    min-height: auto;
  }
}
.hidden {
  display: none;
}
