@import "/static/less/variables.less";
@import "/static/less/mixins.less";

@searchActiveBackground: #a5cbcf;
@searchHeaderBackground: #d4e5e6;
@searchBodyBackground: @gray1;
@searchTimingBackground: @gray6;
@searchTimingBackgroundHover: #000;
@searchTimingColor: @black;
@searchTimingColorHover: @white;
@searchSelectorBackground: #62A0A8;
@searchBorderWidth: 5px;
@searchBorder: @searchBorderWidth solid @black;

@datePickerBackground: rgb(217, 216, 213);

#search {
  position: relative;
  // search icon
  &:before {
    content: ' ';
    display: block;
    width: 50px;
    height: 50px;
    background: @iconsFile -0px -100px no-repeat;
    position: absolute;
    top: 4px;
  }
  .results, .close {
    display: none;
  }
  &.focus, &.with-results {
    background: @searchActiveBackground;
    &:before {
      background-position: -50px -100px;
    }
  }
  &.with-results {
    .results {
      display: block;
      .items-wrapper {
        float: left;
        width: 100%;
      }
    }
    #q {
      background: @searchActiveBackground;
      color: @black;
      &:focus {
        outline: none;
      }
    }
    > .close {
      display: block;
      right: 10px;
      top: 18px;
      height: 20px;
      padding-top: 2px;
      background-color: rgb(116, 175, 183);
      text-indent: -4000px;
      &:hover {
        background-color: @black;
        cursor: pointer;
      }
      &:after {
        top: 6px;
      }
    }
    .query-loader {
      position: absolute;
      right: 10px;
      top: 18px;
    }
  }

  .query-loader {
    position: absolute;
    top: 18px;
    right: 10px;

    &.loading {
      display: inline;
    }
  }

  .results {
    z-index: 20;
    display: none;
    position: relative;
    background-color: @searchActiveBackground;
    padding-top: 10px;
    width: 960px;
    left: -172px;
    border: @searchBorder;
    border-top: 0;

    header {
      border-top: 1px solid @marketplaceNavColor;
      border-bottom: 1px solid @marketplaceNavColor;
      background-color: @searchHeaderBackground;
    }
  }
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: @white !important;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: @white;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: @white;
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: @white;
  }
}

#q {
  text-indent: 25px;
  line-height: 1.5em;
  background-color: @searchBoxBackground;
  color: @white;
  border-radius: 0px;

  &:focus {
    background: @searchActiveBackground;
    color: @black;
  }
}
