@searchBoxBackground: @gray5;
@searchBoxMargin: 5px;
@searchBoxHeight: 40px;
@headerHeight: 50px;

@searchActiveBackground: @gray6;
@searchHeaderBackground: #d4e5e6;
@searchCloseBackground: rgb(116, 175, 183);
@searchBodyBackground: @gray1;
@searchTimingBackground: @gray6;
@searchTimingBackgroundHover: #000;
@searchTimingColor: @black;
@searchTimingColorHover: @white;
@searchSelectorBackground: #62A0A8;
@searchBorderWidth: 5px;
@searchBorder: @searchBorderWidth solid @black;

#search {
  display: block;
  float: left;
  height: 100%;
  text-align: left;
  .header-user & {
    width: calc(~"100% - 450px");
  }
  .header-guest & {
    width: 465px;
  }

  .results, .close {
    display: none;
  }
  .search-field-container {
    height: @searchBoxHeight;
    background-color: @gray7;
    margin: @searchBoxMargin;
    position: relative;

    .icon-search {
      color: @white;
      display: inline-block;
      float: left;
      height: @searchBoxHeight;
      line-height: @searchBoxHeight + @searchBoxMargin;
      text-align: center;
      width: 50px;
    }
  }
  .search-close {
    background-color: @gray4;
    color: @white;
    cursor: pointer;
    display: none;
    font-size: 24px;
    height: 22px;
    line-height: 25px;
    margin: 8px 0 0 0;
    text-align: center;
    width: 22px;

    &:hover {
      background-color: @black;
    }
  }
  &.focus, &.with-results {
    background: @searchActiveBackground;

    .search-field-container {
      background: @searchActiveBackground;
    }
  }
  &.with-results {
    .search-close {
      display: inline-block;
    }
    .results {
      display: block;
      .items-wrapper {
        float: left;
        width: 100%;
      }
    }
    #q {
      &:focus {
        outline: none;
      }
    }
    .query-loader {
      position: absolute;
      right: 2px;
      top: 13px;
    }
  }

  .query-loader {
    position: absolute;
    top: 10px;
    right: 10px;

    &.loading {
      display: inline;
    }
  }

  .results {
    position: absolute;
    top: @headerHeight;
    left: 50%;
    margin-left: -45%;
    z-index: 11;
    display: none;
    background-color: @white;
    padding-top: 10px;
    width: 90%;
    min-width: 1000px;
    border: 5px solid @gray9;
    border-top: 0;

    header {
      background-color: @white;
    }
  }
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: @white !important;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: @white;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: @white;
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: @white;
  }
}

#q {
  display: inline-block;
  line-height: 1.5em;
  background-color: @gray7;
  border-radius: 0px;
  float: left;
  width: calc(~"100% - 85px");
  padding: 0 5px 0 0;
  margin: 0;
  color: @white;
  box-shadow: none;
  border: 0;
  height: @searchBoxHeight;
  font-size: 18px;

  &:focus {
    background: @searchActiveBackground;
    color: @white;
  }
}

.with-results {
  #q {
    background: @searchActiveBackground;
    color: @white;
  }
}
