#main.start {
  @sidebarWidth: 360px;

  #start-content {
    height: 525px;
    margin-right: @sidebarWidth;
  }

  #start-message {
    padding: 0 180px;
  }

  #start-sidebar {
    float: right;
    width: @sidebarWidth;
  }
  h1 {
    .cssicon(url('../images/welcome.png') -10px -90px, 285px, 110px);
    border-bottom: 0;
    margin-top: 150px;
  }
  p {
    line-height: 1.5em;
    a:hover {
      color: black;
    }
  }
  .api-key {
    margin-top: 50px;
    .title {
      .sl-sb;
      float: left;
      padding: 5px 10px;
      border: 1px solid @gray3;
      border-bottom-width: 2px;
    }
    .secret {
      .sl-code;
      font-size: 12px;
      float: left;
      padding: 5px 10px;
      border: 1px solid @gray3;
      border-bottom-width: 2px;
      background-color: @white;
    }
  }
  #start-sidebar {
    background-color: @contentBackground;
    li {
      height: 214px;
      position: relative;
      &:hover {
        cursor: pointer;
        opacity: 0.95;
        .icon, .arrow .icon {
          opacity: 1;
        }
      }
      > .icon {
        float: left;
        margin: 20px;
        .cssicon(url('../images/welcome.png'), 70px, 70px);
        opacity: 0.5;
      }
      h2 {
        .sl;
        margin: 0;
        position: absolute;
        bottom: 45px;
        padding-left: 20px;
        color: @white;
      }
      p {
        .sl-md;
        position: absolute;
        bottom: 13px;
        padding-left: 20px;
        color: @white;
      }
      .arrow {
        @font-size: 28px;
        bottom: 0;
        color: @white;
        font-size: 24px;
        line-height: 228px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 40px;
      }
    }

    .start-sidebar-item(@bgColorLight, @bgColorDark, @bgPosition) {
      background-color: @bgColorLight;
      > .icon {
        background-position: @bgPosition;
      }
      .arrow {
        background-color: @bgColorDark;
      }
    }

    .dashboard {
      .start-sidebar-item(@egyptianBlue60, @egyptianBlue100, -7px 0);
    }
    .documentation {
      .start-sidebar-item(@curryYellow60, @curryYellow100, -84px 0);
    }
    .registration {
      .start-sidebar-item(@forestGreen60, @forestGreen100, -167px 0);
    }
  }
}
