
/*
* variables.less
*
* tweak these numbers and the look of the site should change but everything
* should still hang together (in an ideal world anyway)
*/
@baseFontFamily: nimbussannov-med, arial, sans-serif;
@baseFontSize: 13px;
@baseLineHeight: @baseFontSize * 1.4;
@textColor: #737373;
@bodyBackground: #4d4b49;

// our grid is 26 columns - total 1155px
@gridColumns:             26;
@gridColumnWidth:         30px;
@gridGutterWidth:         15px;

// header content
@searchBarBackground: #000;
@searchBarHeight: 60px;
@searchBoxBackground: #4d4b49;
@searchBoxMargin: 5px;
@searchBoxHeight: @searchBarHeight - @searchBoxMargin * 2;

// main is our main content area underneath the header
@mainMinHeight: 700px;
@mainVerticalPadding: 72px;

// marketplaceNav runs down the left hand side of the main content box
@marketplaceNavBackground: #d9d8d5;

// content is our main content area where most data for the current page is
// displayed
@contentBackground: #f2f1ec;
