{{#if view.hasGuestNotification}}
	{{#view Balanced.NotificationMessageView}}
		You're logged in as a temporary guest user.
		{{#link-to 'claim'}}Claim your account to save your data.{{/link-to}}
	{{/view}}
{{/if}}

{{#if view.isBankAccountsEmpty}}
	{{#view Balanced.NotificationMessageView}}
		Please add a bank account by visiting the
		{{#link-to 'marketplace.settings'}}settings page{{/link-to}}.
	{{/view}}
{{/if}}

{{#if view.isNeedsStartVerification}}
	{{#view Balanced.NotificationMessageView}}
		You have unverified bank accounts. Start a verification by visiting the
		{{#link-to 'marketplace.settings'}}settings page{{/link-to}}.
	{{/view}}
{{/if}}

{{#if view.isNeedsConfirmVerification}}
	{{#view Balanced.NotificationMessageView}}
		Please verify your marketplace bank account by confirming the deposit amounts.
		<a {{action "openVerifyBankAccountLink" target="controllers.application"}}>Verify now.</a>
	{{/view}}
{{/if}}
