<div class="page-navigation clearfix">
	{{#if view.order}}
		<div class="page-type">{{#link-to view.order.route_name view.order title=view.order.description}}Order{{/link-to}} &rsaquo; </div>
	{{/if}}
	{{#if view.pageType}}
		<div class="page-type">{{view.pageType}}</div>
	{{/if}}

	{{yield}}

	<h1 class="page-title">
		{{view.title}}
	</h1>

	{{#unless view.hideDateFilter}}
		{{#unless view.pageType}}
			{{view "form-fields/date-picker" viewName="dateTimePicker"}}
		{{/unless}}
	{{/unless}}
</div>
