<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>QUnit basic example</title>
  <link rel="stylesheet" href="support/qunit.css">
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    <script type="text/javascript" src="support/qunit.js"></script>
    <script type="text/javascript" src="support/sinon.js"></script>
    <script type="text/javascript">
    TESTING = true;
    var ENV = {
        BALANCED: {
            API: 'https://api.balancedpayments.com',
            USER: 'https://auth.balancedpayments.com',
            WWW: 'https://www.balancedpayments.com',
            DOCS: 'https://docs.balancedpayments.com'
        }
    };
    </script>
    <script src="../build/lib-dev.js"></script>
    <script src="../build/dashboard-dev.js"></script>

    <script type="text/javascript" src="support/testconfig.js"></script>

    <script type="text/javascript" src="support/fixtures/marketplace.js"></script>

    <% _.each(files, function(filepath) { %>
    <script type="text/javascript" src="<%= filepath %>"></script>
    <% }); %>

</body>
</html>
