{{#link-to view.routeName view.item}}
	{{#if view.isNone}}
		<span class="sl-none">none</span>
	{{else}}
		<span>
			<span class="primary">{{view.primaryLabelText}}</span>
			<span class="secondary">{{view.secondaryLabelText}}</span>
		</span>
	{{/if}}
{{/link-to}}
