<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Balanced</title>
    <link rel="stylesheet" href="{{ cssFile }}">
</head>
<body>

<section id="balanced-app"></section>

<script type="text/javascript">
    var ENV = {{{ env }}};
</script>

<script src="//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js"></script>
<script src="{{ jsLibFile }}"></script>
<script src="{{ jsDashboardFile }}"></script>

<script type="text/javascript">

window.setupBalanced();

$(document).ready(window.Balanced.onLoad);

</script>

</body>
</html>
