<button class="btn secondary" name="modal-cancel" data-dismiss="modal" aria-hidden="true" {{bind-attr disabled="view.isSubmitting"}}>Cancel</button>
<button class="btn" name="modal-submit" {{bind-attr disabled="view.isSubmitting"}}>{{view._submitTitle}}</button>
