<button class="btn danger" name="modal-cancel" data-dismiss="modal" aria-hidden="true" {{bindAttr disabled="view.isSubmitting"}}>Cancel</button>
<button class="btn" name="modal-submit" {{bindAttr disabled="view.isSubmitting"}}>{{view._submitTitle}}</button>
