{{#view "form-fields/form-section" callbackRevisions=view.callbackRevisions model=view.model viewName="formSection"}}
	{{view "form-fields/text-form-field" inputClassNames="full"
		viewName="urlField"
		model=view.model
		labelText="URL"
		field="url"
		explanationText="Include http:// or https://"
	}}

	<div class="form-group">
		<label class="control-label">Revision</label>
			<div>
				{{view Ember.Select
					contentBinding="view.callbackRevisions"
					valueBinding="view.model.revision"
					class="full"
					name="callback-revision"
					optionValuePath="content.value"
					optionLabelPath="content.label"
					}}
			</div>
	</div>
{{/view}}
