<div class="modal-dialog">
	<div class="modal-content">
		{{render "modal_notification_center"}}
		<div class="modal-header">
			<a class="close" data-dismiss="modal"><i class="icon-x"></i></a>
			<h2>{{view.title}}</h2>
		</div>
		{{yield}}
	</div>
</div>
