<form {{action "submit" view.callback target="view" on="submit"}}>
	<div class="modal-body">
		<div class="content">{{view.description}}</div>
	</div>

	{{view "modals/modal-base-footer" isSaving=view.isSaving submitButtonText="Delete"}}
</form>
