<div class="modal hide" id="delete-bank-account">
    <form {{action "deleteBankAccount" target="view" on="submit"}}>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>Remove bank account</h2>
    </div>
    <div class="modal-body">
        Are you sure you want to remove this bank account?
    </div>
    <div class="modal-footer">
        {{view Balanced.ModalActionButtonsView submitTitle="Yes" submittingTitle="Deleting..."}}
    </div>
    </form>
</div>
