<div class="modal hide" id="delete-marketplace">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>Remove marketplace</h2>
    </div>
    <div class="modal-body">
        This marketplace will be removed from your access list.
    </div>
    <div class="modal-footer">
        <button class="btn danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn" {{action deleteMarketplace}}>Confirm</button>
    </div>
</div>
