<div class="modal hide" id="delete-marketplace">
    <form {{action "deleteMarketplace" target="view" on="submit"}}>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>Remove marketplace</h2>
    </div>
    <div class="modal-body">
        This marketplace will be removed from your access list.
    </div>
    <div class="modal-footer">
        {{view Balanced.ModalActionButtonsView submitTitle="Confirm" submittingTitle="Removing..."}}
    </div>
    </form>
</div>
