<div class="modal hide" id="download-confirm">
    <form>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" {{action closeDownload}}>×</button>
            <h2>Export data</h2>
        </div>
        <div class="modal-body">
            <p class="body2a">A CSV file of your current data set will be sent to:</p>
            <label>Email</label>
            {{view Ember.TextField valueBinding="email_address" type="email" class="full"}}
        </div>
        <div class="modal-footer">
            <button class="btn" rel="primary" {{action downloadDownload}}>Export</button>
            <button class="btn danger" data-dismiss="modal" aria-hidden="true" {{action closeDownload}}>Close</button>
        </div>
    </form>
</div>
