<form {{action "save" view.fundingInstrument target="view" on="submit"}}>
	<div class="modal-body modal-info">
		<div class="content">{{view.description}}</div>
	</div>

	{{view Balanced.Modals.ModalBaseFooter isSaving=view.isSaving submitButtonText="Delete"}}
</form>
