<form {{action "save" target="view" on="submit"}}>
	<div class="modal-body modal-info">
		<div class="content">
			<p>Are you sure you want to remove the marketplace {{view.marketplace.name}} from your access list?</p>
		</div>
	</div>

	{{view "modals/modal-base-footer" isSaving=view.isSaving submitButtonText="Delete"}}
</form>
