{{#view Balanced.FormSectionView metaFields=view.metaDictionary.fields}}
	{{#each metaField in view.metaFields}}
		{{view Balanced.MetaFormFieldView
			model=metaField
			labelText="Key"
			field=key
		}}

		{{view Balanced.MetaFormFieldView
			model=metaField
			labelText="Value"
			field=value
		}}
	{{/each}}
	<a {{action 'addNewField' target=view.parentView}}>Add another field</a>
{{/view}}
