{{#view "form-fields/form-section" sectionTitle="Meta information" metaFields=view.metaDictionary.fields}}
	<label class="control-label key-value">
		{{view.parentView.firstLabelText}}
	</label>

	<label class="control-label key-value">
		{{view.parentView.secondLabelText}}
	</label>

	{{#each metaField in view.metaFields}}
		{{view "form-fields/meta-form-field" model=metaField}}
	{{/each}}
	<div class="form-group clearfix">
		<a class="btn-link sm pull-right" {{action 'addField' target=view.parentView}}><i class="icon icon-add non-interactive"></i>Add another field</a>
	</div>
{{/view}}
