<div class="modal full-screen-modal" id="new-updates">
	<h1>A fresh, new look</h1>
	<div class="divider"></div>
	<p>We've updated the navigation with a simpler design and improved usability. We hope you like it.</p>
	<a href="#" class="btn" {{action "closeNewUpdatesModal"}}>Go to dashboard</a>
	<div class="content">
		<img class="navigation-img" src="images/new_navigation.jpg">

		<i class="icon-right-arc-arrow"></i>
		<div class="text-right">
			<h3>Payments</h3>
			<p>Access <b>transactions</b> and <b>orders</b>. Debit a card or credit a bank account (previously called &#8220;pay a seller&#8221;).</p>
		</div>

		<i class="icon-right-arc-arrow"></i>
		<div class="text-right">
			<h3>Payment methods</h3>
			<p>Access your list of cards and bank accounts.</p>
		</div>

		<i class="icon-right-arc-arrow"></i>
		<div class="text-right">
			<h3>Logs</h3>
			<p>Access logs.</p>
		</div>

		<i class="icon-left-arc-arrow"></i>
		<div class="text-left">
			<h3>Customers</h3>
			<p>Access your list of customers and <b>add new customers</b> here.</p>
		</div>

		<i class="icon-left-arc-arrow"></i>
		<div class="text-left">
			<h3>Disputes</h3>
			<p>Access your list of disputes.</p>
		</div>

		<i class="icon-left-arc-arrow"></i>
		<div class="text-left">
			<h3>My marketplace</h3>
			<p>Access your <b>account statements</b> (previously called &#8220;invoices&#8221;) and marketplace <b>settings</b> here.</p>
		</div>
	</div>
	<i class="icon-x" {{action "closeNewUpdatesModal"}}></i>
</div>
