<div class="modal full-screen-modal" id="new-updates">
	<h1>A fresh, new look</h1>
	<p>We've updated the navigation with a simpler design and improved usability. We hope you like it.</p>
	<a href="#" class="btn" {{action "closeNewUpdatesModal"}}>Go to dashboard</a>
	<a href="#" class="close" {{action "closeNewUpdatesModal"}}>
		Close
	</a>
</div>
