<div class="modal-body">
	<span class="progress">
		<span class="progress-bar"></span>
	</span>
	<span class="label3a">{{view.progressText}}</span>
</div>
{{#if view.isCancelable}}
	<div class="modal-actions">
		<button class="btn btn-default" {{action "cancel" target="view"}}>Cancel Upload</button>
	</div>
{{/if}}
