<div class="modal-header">
	<div {{bind-attr class=":search-field-container view.isHighlight:search-highlight"}}>
		<a class="close" data-dismiss="modal"><i class="icon-x"></i></a>
		<label {{bind-attr for=view.queryField.elementId class=":icon-search view.isHighlight:search-highlight"}}></label>
		{{input type="text" id="q" autocomplete="off" name="search_query" viewName="queryField" value=view.resultsLoader.query}}
	</div>
</div>
{{yield}}
