<div class="modal hide" id="verify-bank-account">
    <form {{action "save" on="submit" target="view"}}>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>Bank account verification</h2>
    </div>
    <div class="modal-body">
        <p>To debit this bank account, you need to verify it.</p>
    </div>
    <div class="modal-footer">
        {{view Balanced.ModalActionButtonsView submitTitle="Start verification" submittingTitle="Starting verification..."}}
    </div>
    </form>
</div>
