{{#view "form-fields/form-section" model=view.model sectionTitle="Bank account verification required"}}
	<div class="form-group">
		<p>To verify your bank account, we'll make two small deposits, each less than $1.00. Check this bank account in 1-2 business days and enter the amounts by clicking on the "verify" link from the bank account page.</p>
	</div>
{{/view}}
