<div class="modal wide-modal hide" id="verify-bank-account">
    <form {{action "save" on="submit" target="view"}}>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2>Bank account verification</h2>
    </div>
    <div class="modal-body modal-info">
        {{partial "modals/modalErrors"}}

        <div class="row-pad">
            <p class="label1a">To debit this bank account, you need to verify it.</p>
        </div>
        <div class="row-pad row-full modal-informational-light row-borders">
            <div class="span2 number1a">
                1
            </div>
            <p>Balanced will make two small deposits (each less than $1.00) to this bank account.</p>
        </div>
        <div class="row-pad row-full modal-informational-light row-borders">
            <div class="span2 number1a">
                2
            </div>
            <p>Check the bank account in <strong>1-2</strong> business days for the exact deposit amounts.</p>
        </div>
        <div class="row-pad row-full modal-informational-light row-borders">
            <div class="span2 number1a">
                3
            </div>
            <p>Click on this verification link again to enter the deposit amounts. If verification is unsuccessful after three attempts, you will have to restart the process and wait for two new deposits.</p>
        </div>
    </div>
    <div class="modal-footer">
        {{view Balanced.ModalActionButtonsView submitTitle="Start verification" submittingTitle="Starting verification..."}}
    </div>
    </form>
</div>
