{{#if view.errorMessages}}
	<div class="alert-row top">
		<div {{bind-attr class=":alert-strip alert.type"}}></div>
		<div {{bind-attr class=":alert alert.type"}}>
			<div {{bind-attr class=":alert-text-wrapper alert.type"}}>
				<ul>
					{{#each message in view.errorMessages}}
						<li>{{message}}</li>
					{{/each}}
				</ul>
				<p>Please check your information and re-submit the form.</p>
			</div>
			<div class="button-wrapper right"></div>
		</div>
	</div>
{{/if}}
