<div class="page-navigation">
	<h1 class="page-title">
		{{pageTitle}}
	</h1>
</div>

<div class="results">
	{{view Balanced.ResultsFiltersHeaderView searchResultBinding="last_loaded_search_result" from="activity"}}
</div>

<div class="results">
	{{view Balanced.OrdersResultsView ordersBinding="results"}}
</div>
