<div {{bindAttr class=":control-group view.name:error"}}>
    {{view Balanced.Forms.TextField valueBinding="view.name" placeholder="Enter test marketplace name"}}
    {{#if isLoading}}
        <span class="loader loading"></span>
    {{else}}
        <button class="btn" {{action add target="view"}}>Add</button>
    {{/if}}
</div>
