<div {{bindAttr class=":control-group"}}>
    {{view Balanced.Forms.TextField valueBinding="view.query" name="query" placeholder="Search for a marketplace"}}
    {{#if view.isSubmitting}}
        <span class="loader loading"></span>
    {{else}}
        <button class="btn" {{action add target="view"}}>Search</button>
    {{/if}}
</div>
