
<section id="main" class="container marketplaces">
    <div class="row">

        <nav id="marketplace-nav" class="span2">
        </nav>

        <div id="content" class="span24">
            <div class="row">
                <div class="offset2 span22">
                    <h1>Add/Remove Marketplaces</h1>

                    <div class="marketplace-list production">
                        <div class="subhead1a">Production marketplace</div>
                        <ul>
                            {{#each marketplace in Balanced.Auth.user.marketplaces }}
                                {{#if marketplace.production }}
                                    <li>
                                        <div class="icon"></div>
                                        <h3 class="label1d name">{{#linkTo marketplace.transactions marketplace }}{{ marketplace.name }}{{/linkTo}}</h3>
                                    </li>
                                {{/if}}
                            {{/each}}
                            <li class="new">
                                <div class="icon"></div>
                                <input type="text" placeholder="Enter test marketplace name">
                                <button class="btn">Add</button>
                            </li>
                        </ul>
                    </div>
                    <div class="marketplace-list test">
                        <div class="subhead1a">Test marketplaces</div>
                        <ul>
                            {{#each marketplace in Balanced.Auth.user.marketplaces }}
                                {{#unless marketplace.production }}
                                    <li>
                                        <div class="icon-delete">&times;</div>
                                        <div class="icon"></div>
                                        <h3 class="label1d name">{{#linkTo marketplace.transactions marketplace }}{{ marketplace.name }}{{/linkTo}}</h3>
                                    </li>
                                {{/unless}}
                            {{/each}}
                            <li class="new">
                                <div class="icon"></div>
                                <input type="text" placeholder="Enter API key of existing marketplace">
                                <button class="btn">Add</button>
                            </li>
                        </ul>
                    </div>
                    <div class="marketplace-list register">
                        <div class="subhead1a">Register</div>
                        <ul>
                            <li>
                                <div class="icon"></div>
                                <h2 class="label3d name">Not transacting yet? Register for production access.</h2>
                                <button class="btn">Register</button>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</section>
