<h1>Add/Remove Marketplaces</h1>
<div class="marketplace-list production">
	<div class="label7a">Production marketplace</div>

	<ul>
		{{#each marketplace in productionMarketplaces}}
	        {{view "marketplaces/marketplace-link-bar" marketplace=marketplace}}
		{{/each}}

		<li class="mp-new">
			<div class="label">
				<i class="icon icon-addproductionmp"></i>
			</div>
			<div class="info">
				{{view "marketplaces/add-existing-marketplace" user=user auth=auth}}
			</div>
		</li>
	</ul>
</div>

<div class="marketplace-list test">
	<div class="label7a">Test marketplaces</div>

	<ul>
		{{#each marketplace in testMarketplaces}}
	        {{view "marketplaces/marketplace-link-bar" marketplace=marketplace}}
		{{/each}}

		<li class="mp-new">
			<div class="label">
				<i class="icon icon-addtestmp"></i>
			</div>
			<div class="info">
				{{view "marketplaces/add-test-marketplace" user=user auth=auth}}
			</div>
		</li>
	</ul>
</div>
