{{#if view.isTest}}
	<a href="#" class="icon-delete" {{action "openModal" "modals/marketplace-delete-modal" user marketplace}}>&times;</a>
{{/if}}
<div class="label">
	<i {{bind-attr class=":icon view.isProduction:icon-productionmp:icon-testmp"}}></i>
</div>
<div class="info">
	{{#link-to 'marketplace' view.marketplace.id class="name"}}
		{{view.marketplace.name}}
	{{/link-to}}
</div>
