<nav>
	<ul>
		<li class="timing dropdown action right">
			{{view Balanced.DatePickerView viewName="dateTimePicker"}}
		</li>

		{{#if view.show_download_button}}
			<li class="download">
				{{view Balanced.DownloadModalView noURIBinding="controller.noDownloadsUri"}}
			</li>
		{{/if}}

		{{#if view.show_disputes_download_button}}
			<li class="download">
				{{view Balanced.DisputeDownloadModalView}}
			</li>
		{{/if}}
	</ul>
</nav>
