<nav>
	{{view "form-fields/date-picker" viewName="dateTimePicker"}}

	<div class="clearfix">
	{{#if view.show_download_button}}
		{{view "modals/download/download-modal" noURIBinding="controller.noDownloadsUri"}}
	{{/if}}

	{{#unless auth.isGuest}}
		{{#unless controllers.marketplace.production}}
			{{#link-to "marketplace.import_payouts" class="btn-link sm pull-right"}}
				<i class="icon icon-document-upload import-payout"></i>Import payouts
			{{/link-to}}
		{{/unless}}
	{{/unless}}
	</div>
</nav>
