<nav>
	{{view Balanced.DatePickerView viewName="dateTimePicker"}}

	<div class="download pull-right">
		{{#if view.show_download_button}}
			{{view Balanced.DownloadModalView noURIBinding="controller.noDownloadsUri"}}
		{{/if}}

		{{#if view.show_disputes_download_button}}
			{{view Balanced.DisputeDownloadModalView}}
		{{/if}}
	</div>
</nav>
