/*
* colors.less
*
*/

@mulburryPurple100: #BA3F90;
@mulburryPurple80: #C461A2;
@mulburryPurple60: #CF82B6;
@mulburryPurple40: #DCA7CD;
@mulburryPurple20: #EACFE4;

@byzantiumPurple100: #814A98;
@byzantiumPurple80: #9364A8;
@byzantiumPurple60: #A781BA;
@byzantiumPurple40: #BFA5CF;
@byzantiumPurple20: #DBCDE5;

@lavenderPurple100: #6D61A9;
@lavenderPurple80: #8276B6;
@lavenderPurple60: #9A91C6;
@lavenderPurple40: #B6B0D8;
@lavenderPurple20: #D6D2EA;

@powderBlue100: #3F6FB8;
@powderBlue80: #5E83C3;
@powderBlue60: #7E9AD0;
@powderBlue40: #A3B5DE;
@powderBlue20: #CCD5ED;

@persianBlue100: #0063B4;
@persianBlue80: #1675BF;
@persianBlue60: #528DCC;
@persianBlue40: #83AADB;
@persianBlue20: #BBCEEB;

@egyptianBlue100: #4789B0;
@egyptianBlue80: #639ABD;
@egyptianBlue60: #82AECB;
@egyptianBlue40: #A5C4DA;
@egyptianBlue20: #CBDCEA;

@turquoise100: #2E8289;
@turquoise80: #4F949B;
@turquoise60: #72A9AF;
@turquoise40: #99C1C5;
@turquoise20: #C4DBDD;

@forestGreen100: #00927B;
@forestGreen80: #00A08E;
@forestGreen60: #4BB2A4;
@forestGreen40: #82C7BD;
@forestGreen20: #BBE0D9;

@pineGreen100: #00944D;
@pineGreen80: #00A268;
@pineGreen60: #53B384;
@pineGreen40: #87C7A6;
@pineGreen20: #BEE0CD;

@curryYellow100: #B89B08;
@curryYellow80: #C6AB34;
@curryYellow60: #D4BC5E;
@curryYellow40: #E2CF89;
@curryYellow20: #EFE3BB;

@turmericYellow100: #AC7B0D;
@turmericYellow80: #BC8F30;
@turmericYellow60: #CDA657;
@turmericYellow40: #DCBE82;
@turmericYellow20: #ECD9B7;

@imperialRed100: #E71D1C;
@imperialRed80: #EC4E33;
@imperialRed60: #F17555;
@imperialRed40: #F69D7F;
@imperialRed20: #FBCBB5;

@black: #000;
@gray9: #1C1F26;
@gray8: #303540;
@gray7: #434854;
@gray6: #59606B;
@gray5: #757C87;
@gray4: #9196A1;
@gray3: #B7BBBD;
@gray2: #D2D6D9;
@gray1: #F0F1F2;
@white: #fff;