/*
* mixins.less
*
*/

@iconsFile: url('../images/icons.png');
@iconsFileWidth: 250px;
@iconsFileHeight: 1000px;

@socialBgOffsetX: 410px;
@socialBgOffsetY: 4px;
@socialWidth: 27px;
@socialHeight: 27px;

.cssicon(@url, @width, @height, @display: inline-block) {
  background: @url;
  width: @width;
  height: @height;
  text-indent: -4000px;
  display: @display;
}

.csssprite(@width, @height, @posX, @posY, @scale: 1.0) {
  text-indent: -4000px;

  width: @scale*@width;
  height: @scale*@height;

  background: @iconsFile;
  background-size: @scale*@iconsFileWidth @scale*@iconsFileHeight;
  background-position: @scale*-1*@posX @scale*-1*@posY;
}

.socialIcon(@num) {
  background-position: -(@socialBgOffsetX + (@num * @socialWidth)) -@socialBgOffsetY;
  &:hover {
    background-position: -(@socialBgOffsetX + (@num * @socialWidth)) -(@socialBgOffsetY + @socialHeight);
  }
}
.fontyFont(@prefix; @fontFamily; @fontSize; @fontWeight: normal;
           @textTransform: inherit; @letterSpacing: normal; @fontStyle: normal) {

  .x() {
    font-family: @fontFamily;
    font-weight: @fontWeight;
    font-size: @fontSize;
    font-style: @fontStyle;
    text-transform: @textTransform;
    letter-spacing: @letterSpacing;
    line-height: 100%;
  }

  .@{prefix} {
    .x();
  }

  .@{prefix}a {
    .x();
    color: @black;
    a:not(.linky) {
      color: @black;
    }
  }

  .@{prefix}b {
    .x();
    color: @gray5;
    a:not(.linky) {
      color: @gray5;
    }
  }

  .@{prefix}c {
    .x();
    color: @imperialRed100;
    a:not(.linky) {
      color: @imperialRed100;
    }
  }

  .@{prefix}d {
    .x();
    color: @white;
    a:not(.linky) {
      color: @white;
    }
  }

  .@{prefix}f {
    .x();
    color: @turmericYellow80;
    a:not(.linky) {
      color: @turmericYellow80;
    }
  }
}

.animation (@name, @duration: 300ms, @ease: ease, @delay: 0) {
  -webkit-animation: @name @duration @ease @delay;
  -moz-animation: @name @duration @ease @delay;
  -ms-animation: @name @duration @ease @delay;
  animation: @name @duration @ease @delay;
}

.transform(@string){
  -webkit-transform: translatez(0);
  -moz-transform: translateZ(0);
  -webkit-transform: @string;
  -moz-transform: @string;
  -ms-transform: @string;
  -o-transform: @string;
  transform: @string;
}

.hyphenate() {
    -ms-word-break: break-all;
       word-break: break-all;
       word-break: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}