/*
* grids.less
*
*/

@headerHeight: 75px;

// our grid is 26 columns - total 1155px
@gridColumns: 26;
@gridColumnWidth: 30px;
@gridGutterWidth: 15px;

// main is our main content area underneath the header
@mainWidth: 1155px;
@mainMinHeight: 581px;
@mainVerticalPadding: 60px;
@mainMargin: 18px;

// content is our main content area where most data for the current page is displayed
@pageTitleWidth: @gridGutterWidth * 65;
@contentBackground: @gray1;
@lineRuleBackground: @gray3;