<div class="form-actions form-actions-error">
  <div class="icon icon-alert"></div>
  <div class="pull-right">
    <button class="btn" {{action "reset" on="click" target="view"}}>Back</button>
    <button class="btn" {{action "submit" on="click"}}>Submit Payouts</button>
  </div>
  <p>
    All entries must be valid to submit payouts. Go back to upload a new file or remove the invalid entries</p>
  </p>
</div>
