<h1 class="page-title">Accounts {{#if iframeLoading}}<div class="loader-container"><span class="loader loading"></span></div>{{/if}}</h1>

{{view Balanced.EmbeddedIframeView iframeUrlBinding="model"}}
