<h1 class="page-title">Activity {{#if iframeLoading}}<div class="loader-container"><span class="loader loading"></span></div>{{/if}}</h1>

{{ partial "activity_header" }}

{{view Balanced.EmbeddedIframeView iframeUrlBinding="controllers.marketplace.accounts_embedded_iframe_uri"}}