<nav id="marketplace-nav">
	<div id="marketplaces" class="dropdown nav">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			<div id="logo"></div>
			<span id="marketplace-name">
				{{view.dropdownDisplayLabel}}
			</span>
			<b class="caret"></b>
		</a>
		{{partial "marketplaces_list"}}
	</div>

	<ul class="sidebar">
		{{#each item in view.items}}
			{{view item}}
		{{/each}}
	</ul>
	{{partial "footer"}}
</nav>
