<div class="form-section">
	<div class="readable-block">
		<p>
			Upload a CSV file to pay new and existing customers. Please format your
			spreadsheet according to the following guide. You may also download a sample
			file to get started.
		</p>
		<p>
			<a href="files/new_customers_csv_sample.csv" download="balanced_new_customers_sample.csv">
				<i class="icon icon-export"></i>
				<span class="download-label">Download sample file to pay new customers</span>
			</a>
			<br>
			<a href="files/existing_customers_csv_sample.csv" download="balanced_existing_customers_sample.csv">
				<i class="icon icon-export"></i>
				<span class="download-label">Download sample file to pay existing customers</span>
			</a>
		</p>
	</div>

	<h3 class="header-separator">How to format your file</h3>
	<div class="instructions-text instructions-top-padded">
		<h5>For new customers only</h5>
		<p>
			If you are paying a new customer, please provide the customer name
			and email, followed by their bank routing and account numbers.
		</p>
	</div>
	<div class="instructions-image">
		<img src="images/csv_table_new_1.png">
	</div>
	<div class="instructions-text">
		<p>
			Include the bank account holder's name and bank account type.
			Then provide payout information including the appears on statement as,
			description and amount fields.
		</p>
	</div>
	<div class="instructions-image">
		<img src="images/csv_table_new_2.png">
	</div>
	<div class="instructions-text instructions-top-padded">
		<h5>For existing customers only</h5>
		<p>
			To pay existing customers, enter their name or email. Balanced
			will locate their associated bank account. Also provide payout
			information including the appears on statement, internal
			description, and amount fields.
		</p>
	</div>
	<div class="instructions-image">
		<img src="images/csv_table_existing.png">
	</div>
</div>
<div {{bind-attr class=":upload-form-actions :form-actions errorMessage:form-actions-error"}}>
	<div class="form-buttons">
		<label class="control-label control-styled-upload">
			Please upload a CSV file
			<span class="btn">
				Choose file
				<input id="csv-upload-field" type="file" name="file" {{action "fileSelectionChanged" on="change" target="view"}} />
			</span>
		</label>
	</div>
	{{#if errorMessage}}
	    <p>{{errorMessage}}</p>
	{{/if}}
</div>
