<div {{bind-attr class=":form-actions creditCreators.isInvalid:form-actions-error"}}>
  <div class="form-buttons">
    <button class="btn secondary" {{action "reset" on="click" target="view"}}>Back</button>
    <button {{bind-attr class=":btn creditCreators.canSubmit::disabled"}} type="submit" {{bind-attr disabled="creditCreators.isInvalid"}}>Submit payouts</button>
  </div>

  {{#if creditCreators.isInvalid}}
    <p>
		All entries must be valid to submit payouts.
		Upload a new file or remove the invalid entries.
	</p>
  {{/if}}
</div>
