// BASELINE STYLES
// ---------------
.table {
  @tableBorder: @gray3;

  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  // Cells
  th,
  td {
    padding: 8px;
    line-height: @baseLineHeight;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid @tableBorder;
  }
  th {
    font: normal normal normal 13px/100% "Nimbus Sans Extra Condensed", Arial, sans-serif;
  }
  // Bottom align for column headings
  thead th {
    vertical-align: bottom;
  }
  // Remove top border from thead by default
  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }
  // Account for multiple tbody instances
  tbody + tbody {
    border-top: 2px solid @tableBorder;
  }

  // Nesting
  .table {
    background-color: @bodyBackground;
  }
}



// CONDENSED TABLE W/ HALF PADDING
// -------------------------------

.table-condensed {
  th,
  td {
    padding: 4px 5px;
  }
}


// BORDERED VERSION
// ----------------

.table-bordered {
  @tableBorder: @gray3;
  border: 1px solid @tableBorder;
  border-left: 0;
  th,
  td {
    border-left: 1px solid @tableBorder;
  }
  // Prevent a double border
  caption + thead tr:first-child th,
  caption + tbody tr:first-child th,
  caption + tbody tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + tbody tr:first-child th,
  colgroup + tbody tr:first-child td,
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
}




// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  tbody {
    > tr:nth-child(odd) > td,
    > tr:nth-child(odd) > th {
      background-color: @white;
    }
  }
}


// HOVER EFFECT
// ------------
// Placed here since it has to come after the potential zebra striping
.table-hover {
  tbody {
    tr:hover > td,
    tr:hover > th {
      background-color: @white;
    }
  }
}


// TABLE CELL SIZING
// -----------------

// Reset default grid behavior
table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none; // undo default grid column styles
  margin-left: 0; // undo default grid column styles
}

// TABLE BACKGROUNDS
// -----------------
// Exact selectors below required to override .table-striped
.table tbody tr {
  @successBackground: @forestGreen40;
  @errorBackground: @imperialRed40;
  @warningBackground: @curryYellow40;
  @infoBackground: @persianBlue40;

  &.success > td {
    background-color: @successBackground;
  }
  &.error > td {
    background-color: @errorBackground;
  }
  &.warning > td {
    background-color: @warningBackground;
  }
  &.info > td {
    background-color: @infoBackground;
  }
}

// Hover states for .table-hover
.table-hover tbody tr {
  @successBackground: @forestGreen60;
  @errorBackground: @imperialRed60;
  @warningBackground: @curryYellow60;
  @infoBackground: @persianBlue60;

  &.success:hover > td {
    background-color: @successBackground;
  }
  &.error:hover > td {
    background-color: @errorBackground;
  }
  &.warning:hover > td {
    background-color: @warningBackground;
  }
  &.info:hover > td {
    background-color: @infoBackground;
  }
}

table.items {
  table-layout: fixed;
  width: 100%;

  th, thead {
    float: none;
    padding: 0px 10px;
    border-top: 1px solid @gray2;
    background-color: @gray1;
    border-bottom: 1px solid @gray2;
    text-align: left;

    &:first-child {
      padding-left: 25px;
    }

    &:last-child {
      padding-right: 25px;

      &.sortable {
        padding-right: 5px;
      }
    }

    > span {
      .sl-sm-sb;
      color: @gray5;
      line-height: 36px;
    }

    &.has-filter {
      padding: 0;

      &:first-child {
        padding-left: 15px;
      }
    }
  }

  &.side {
    table-layout: auto;
  }

  &.non-interactive {
    tbody, tfoot {
      tr:hover {
        cursor: auto;
        background-color: @white;
      }
    }
  }

  tbody, tfoot {
    tr {
      border-bottom: 1px solid @gray2;
      background-color: @white;

      &:hover {
        cursor: pointer;
        background-color: @persianBlue10;

        .no-results {
          background-color: @white;
        }
      }

      td, span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      td {
        padding: 0 10px;

        &:first-child {
          padding-left: 25px;
        }

        &:last-child {
          padding-right: 25px;
        }

        &.no-results {
          .sl-none;
          padding: 12px 15px 12px 25px;
          cursor: default;
        }
        > span {
          line-height: 50px;
        }

        > a {
          display: block;
          height: 100%;
          width: 100%;
          text-decoration: none;

          span {
            padding: 0;
            display: block;
            line-height: 50px;
          }

          &:link {
            .sl;
          }

          &:link, &:visited, &:hover, &:active {
            color: @textColor;
          }
        }

        &.two-line {
          > a > span {
            padding-top: 4px !important;
            padding-bottom: 2px !important;
          }
          span {
            display: block;
          }
        }

        &.date .secondary {
          text-transform: lowercase;
        }

        span.primary {
          line-height: 16px;
          padding: 4px 0 1px !important;
        }

        span.secondary {
          .sl-sm;
          line-height: 14px;
          color: @gray4;
          padding: 1px 0 4px !important;
        }
      }

      td.label4a {
        a {
          &:link, &:visited, &:hover, &:active {
            color: @black;
          }
        }
        &.black {
          color: @black;
        }
      }
    }
  }

  tfoot {
    tr {
      &:hover {
        background-color: @white;
        cursor: default;
      }

      &.load-more-results {
        border-bottom: none;

        td {
          padding: 12px 25px;
          text-align: center;

          a {
            display: inline;
          }
        }
      }
    }
  }

  .num, .align-right {
    text-align: right;
  }
}

// Panels
.panel {
  .panel-heading {
    background-color: @gray1;
    padding: 55px 15px 10px 15px;
    border-bottom: 1px solid @gray2;

    span {
      color: @pineGreen80;
    }
  }

  .list-group {
    margin: 0;

    .list-group-item {
      display: block;
      padding: 10px 15px;
      border-bottom: 1px solid @gray2;
    }

    .horizontal-list-group-item {
      display: inline-block;
      padding: 10px 110px 10px 10px;
      border-right: 1px solid @gray2;
      text-align: left;

      h3 {
        .sl;
      }

      &:last-of-type {
        border-right: none;
      }
    }
  }
}
