<div class="buttons page-actions">
	{{#each actionButton in view.actionButtons}}
		<a class="btn sm" {{action "openModal" actionButton.modalViewName view.model}}>{{actionButton.buttonName}}</a>
	{{/each}}
</div>
