<div class="results">
  <div class="items-wrapper">
    <table class="items table">
      <thead>
        <tr>
          <th></th>
          {{#each view.table_headers}}
            <th class="label6a">{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
      {{#each csvRowObjects}}
        <tr>
          <td>
            {{#if credit.isLoaded}}
              {{#link-to credit.route_name credit}}
                <i class="icon icon-checkmark"></i>
                view
              {{/link-to}}
            {{else}}
              {{#if credit.isSaving}}
                <i class="icon icon-loading"></i>
              {{else}}
                {{#unless isValid}}
                  <i class="icon icon-alert"></i>
                {{/unless}}
              {{/if}}
            {{/if}}
          </td>
          {{#each columns}}
            <td>
              <a><span>{{this}}</span></a>
            </td>
          {{/each}}
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
