<div class="results">
  <div class="items-wrapper">
    <table class="items table">
      <thead>
        <tr>
          <th></th>
          {{#each view.table_headers}}
            <th class="label6a">{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
      {{#each view.table_rows}}
        <tr>
          <td>
            {{#if credit.isLoaded}}
              <i class="icon icon-checkmark"></i>
            {{else}}
              {{#if credit.isSaving}}
                <i class="icon icon-loading"></i>
              {{else}}
                {{#unless isValid}}
                  <i class="icon icon-alert"></i>
                {{/unless}}
              {{/if}}
            {{/if}}
          </td>
          {{#each columns}}
            <td>
              {{#link-to credit.route_name credit}}
                <span>{{this}}</span>
              {{/link-to}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
