{{#view "page-navigations/page-navigation" title="Customers"}}
	<div class="buttons page-actions">
		<a class="btn" {{action "openModal" "modals/add-customer-modal"}}>Add a customer</a>
	</div>
{{/view}}

<nav class="results-actions-bar"></nav>

<div class="results">
	<div class="items-wrapper">
		{{view "results/customers-table" loader=resultsLoader}}
	</div>
</div>
