<div id="customers">
	<div class="page-navigation">
		<h1 class="page-title">Customers
			{{#unless results.isLoaded}}<div class="loader-container"><span class="loader loading"></span></div>{{/unless}}
			
			{{#link-to 'marketplace.add_customer' class='btn pull-right'}}
				Add customer
			{{/link-to}}
		</h1>		
	</div>
	{{view Balanced.DatePickerView viewName="dateTimePicker"}}
	<div class="results">
		<div class="items-wrapper">
			{{view Balanced.CustomersResultsView customersBinding="results"}}
		</div>
	</div>
</div>