{{#view Balanced.PageNavigationView title="Customers"}}
	<div class="buttons page-actions">
		{{#link-to 'marketplace.add_customer' class='btn'}}
			Add customer
		{{/link-to}}
	</div>
{{/view}}

<nav class="results-actions-bar">
	{{view Balanced.DatePickerView viewName="dateTimePicker"}}
</nav>
<div class="results">
	<div class="items-wrapper">
		{{view Balanced.CustomersResultsView loader=resultsLoader}}
	</div>
</div>
