{{#view Balanced.PageNavigationView title="Customers"}}
	{{#link-to 'marketplace.add_customer' class='btn pull-right sm'}}
		Add customer
	{{/link-to}}
{{/view}}

{{view Balanced.DatePickerView viewName="dateTimePicker"}}
<div class="results">
	<div class="items-wrapper">
		{{view Balanced.CustomersResultsView loader=resultsLoader}}
	</div>
</div>
