{{view Balanced.PageNavigationView title="Disputes"}}
{{view Balanced.DatePickerView viewName="dateTimePicker"}}

{{view Balanced.DisputeDownloadModalView}}
<div class="results">
	<div class="items-wrapper">
		{{view Balanced.DisputesResultsView loader=resultsLoader}}
	</div>
</div>
