{{view "page-navigations/page-navigation" title="Disputes"}}

<nav class="results-actions-bar">
	<div class="pull-right">
		<a {{action "openModal" "modals/export-csv-modal" resultsLoader "disputes"}} class="btn-link sm">
			<i class="icon icon-export"></i>
			Export
		</a>
	</div>
</nav>

<div class="results">
	<div class="items-wrapper">
		{{view "results/disputes-table" loader=resultsLoader}}
	</div>
</div>
