{{view Balanced.PageNavigationView title="Payment methods"}}
{{view Balanced.DatePickerView viewName="dateTimePicker"}}

<div class="results">
	{{view Balanced.FundingInstrumentsResultsView loader=resultsLoader}}
</div>
