{{view "page-navigations/page-navigation" title="Payment methods"}}

<nav class="results-actions-bar"></nav>

<div class="results">
	{{view "results/embedded-funding-instruments-table" loader=resultsLoader}}
</div>
