{{view Balanced.PageNavigationView title="Account statements"}}

{{view Balanced.DateFilterHeaderView}}
{{view Balanced.InvoiceDownloadModalView}}

<div class="results">
	<div class="items-wrapper">
		{{view Balanced.InvoicesResultsView loader=resultsLoader}}
	</div>
</div>
