{{view Balanced.PageNavigationView title="Account statements"}}

<nav class="results-actions-bar">
	{{view Balanced.InvoiceDownloadModalView}}
</nav>

<div class="results">
	<div class="items-wrapper">
		{{view Balanced.InvoicesResultsView loader=resultsLoader}}
	</div>
</div>
