{{view Balanced.PageNavigationView title="Logs"}}

<nav class="results-actions-bar">
	{{view Balanced.DateFilterHeaderView}}
</nav>
<div class="results">
	{{view Balanced.LogsResultsView loader=resultsLoader}}
</div>
