<div id="search" {{bind-attr class="view.isOpen:with-results"}}>
	<div {{bind-attr class=":search-field-container view.isHighlight:search-highlight"}} {{action "openModal" "modals/search-modal" model}}>
		<label class="icon-search"></label>
	    {{input type="text" class="q" value=view.query disabled=true}}
	</div>
</div>
