<h1 class="page-title">Transactions
    <a href="#" {{action download_show}} class="icon-download right">Download</a>
</h1>

{{view Balanced.EmbeddedIframeView iframeUrlBinding="controllers.marketplace.transactions_embedded_iframe_url"}}

{{#if show_download}}
    {{view Balanced.DownloadModalView }}
{{/if}}
