<div class="row">
  <div class="span20">
    <h1 class="page-title">Upload Payments CSV</h1>

{{#view Balanced.MarketplaceUploadPaymentsCsvView}}
  <form {{action "submit" on="submit" target="view"}} class="full-page-form">
    <fieldset>
      <div class="control-group">
        <input type="file" name="file" {{action fileSelectionChanged on="change" target="view"}} />
        <label class="control-label">Select a CSV File</label>
      </div>

      {{#if view.table_rows.length}}
        <div class="section-banner-header">
           <p><strong>File Preview</strong></p>
        </div>
        {{partial "marketplace/csv_preview"}}
      {{/if}}
    </fieldset>

    {{#if view.table_rows.length}}
      <div class="actions">
        {{#if view.isSubmittable}}
          <button type="submit">Continue</button>
        {{/if}}
      </div>
    {{/if}}
  </form>
{{/view}}

  </div>
</div>
