<div class="key-value-display">
	<h3>
		{{view.title}}

		{{#if view.editModelModalClass}}
			<a class="pull-right edit-model-link" {{action "openModal" view.editModelModalClass view.model}}>
				<i class="icon-edit"></i>
			</a>
		{{/if}}
	</h3>
	<dl class="dl-horizontal">
		{{#each	item in view.keyValueListViews}}
			{{view item}}
		{{/each}}
		{{yield}}
	</dl>
</div>
