<header class="activity activity-header span20">
    <nav>
        {{#linkTo marketplace.transactions tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Transactions</a>{{/linkTo}}
        {{#linkTo accounts tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Accounts</a>{{/linkTo}}
        {{#linkTo bank_accounts tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Bank Accounts</a>{{/linkTo}}
        {{#linkTo cards tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Cards</a>{{/linkTo}}
    </nav>
</header>