<header class="activity activity-header span20">
    <nav>
        {{#linkTo marketplace.transactions tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Transactions</a>{{/linkTo}}
        {{#linkTo customers tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Customers</a>{{/linkTo}}
        {{#linkTo funding_instruments tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Cards &amp; Bank Accounts</a>{{/linkTo}}
    </nav>
</header>
