<div class="span24">
    {{#view Balanced.View classBinding=":alert controller.message_type"}}
        <button type="button" class="close" data-dismiss="alert" {{action dismissAlert}}>&times;</button>
        {{message_message}}
    {{/view}}
</div>
