<div class="alert-row">
  {{#if Balanced.Auth.isGuest}}
  <div class="alert info">
    <span>You are currently logged in as a temporary guest user. {{#linkTo 'claim'}}Claim your account to save your data{{/linkTo}}</span>
  </div>
  {{/if}}

  {{#if controllers.application.notification}}
  <div {{bindAttr class=":alert controllers.application.notification.type"}}>
    <button type="button" class="close" data-dismiss="alert" {{action closeNotification target="controllers.application"}}>&times;</button>
    <span>{{controllers.application.notification.message}}</span>
  </div>
  {{/if}}
</div>
