{{#if controllers.application.alertObj}}
	<div class="alert-row top">
		<div {{bind-attr class=":alert-strip controllers.application.alertObj.type"}}></div>
		<div {{bind-attr class=":alert controllers.application.alertObj.type"}}>
			<div {{bind-attr class=":alert-text-wrapper controllers.application.alertObj.type"}}>
				<span class="body1">{{controllers.application.alertObj.message}}</span>
			</div>
			<div class="button-wrapper right"></div>
		</div>
	</div>
{{/if}}
