<div class="alert-row">
  {{#if Balanced.Auth.isGuest}}
  <div class="alert info">
    <span>You are currently logged in as a temporary guest user. {{#linkTo 'claim'}}Claim your account to save your data{{/linkTo}}</span>
  </div>
  {{/if}}

  {{#if controllers.application.notification}}
  <div {{bindAttr class=":alert-strip controllers.application.notification.type"}}></div>
  <div {{bindAttr class=":alert controllers.application.notification.type"}}>
    <div {{bindAttr class=":alert-text-wrapper controllers.application.notification.type"}}>
      <span>{{controllers.application.notification.message}}</span>
    </div>
  </div>
  {{/if}}
</div>
