<section class="customer-info">
    <header>
        <h3>Customer info</h3>
    </header>

    {{#if customer}}
        {{#link-to 'customers' customer}}
            <div {{bind-attr class=":icon customer.is_business:business-info:person-info"}}>Business</div>
        {{/link-to}}
        <div>
            <span class="customer-name">
            	{{#link-to 'customers' customer}}
    	        	{{customer.display_me}}
            	{{/link-to}}
            </span>
            <br/>
            <span>{{#link-to 'customers' customer}}{{customer.email}}{{/link-to}}</span>
        </div>
    {{else}}
        <span class="empty-field-label">None</span>
    {{/if}}
</section>
