<section class="customer-info">
    <header>
        <h3>Customer info</h3>
    </header>

    {{#if customer}}
        {{#linkTo 'customers' customer}}
            <div {{bindAttr class=":icon customer.is_business:business-info:person-info"}}>Business</div>
        {{/linkTo}}
        <div>
            <span class="customer-name">
            	{{#linkTo 'customers' customer}}
    	        	{{customer.display_me}}
            	{{/linkTo}}
            </span>
            <br/>
            <span>{{#linkTo 'customers' customer}}{{ customer.email }}{{/linkTo}}</span>
        </div>
    {{else}}
        <span class="empty-field-label">None</span>
    {{/if}}
</section>
