<footer class="container">
    <div class="row">
        <div class="span2" id="flogo">
            <a href="https://www.balancedpayments.com" target="_blank" class="img">Logo</a>
        </div>
        <div class="span24">
            <ul>
                <li><span>&copy; 2014 Balanced</span></li>
                <li><a href="https://www.balancedpayments.com/about">About</a></li>
                <li><a href="http://blog.balancedpayments.com" target="_blank">Blog</a></li>
                <li><a href="https://status.balancedpayments.com" target="_blank">Status</a></li>
                <li><a href="mailto:support@balancedpayments.com">Contact us</a></li>
                <li><a href="https://www.balancedpayments.com/terms" target="_blank">Terms of use</a></li>
                <li><a href="https://www.balancedpayments.com/privacy" target="_blank">Privacy policy</a></li>
            </ul>
            <a href="https://twitter.com/balanced" target="_blank" class="twitter">Balanced on Twitter</a>
            <a href="http://quora.com/balanced" target="_blank" class="quora">Balanced on Quora</a>
            <a href="https://github.com/balanced" target="_blank" class="github">Balanced on Github</a>
        </div>
    </div>
</footer>
