{{#if Balanced.Auth.signedIn }}
    <div id="marketplaces" class="dropdown">
        <a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#">
            <span id="marketplace-name" class="nav2d">
                {{#if controllers.marketplace.name}} {{controllers.marketplace.name}} {{else}} Marketplaces {{/if}}
            </span>
            <b class="caret"></b>
        </a>
        {{partial "marketplaces_list"}}
    </div>

    {{#if controllers.marketplace.name}} {{ render "search" }} {{/if}}

{{/if}}
