<nav id="marketplace-nav">
{{#if marketplace}}
	<ul>
		<li>
			<a href="#" {{action "expand"}}>
				<i class="icon-payments"></i>
				<span>Payments</span>
			</a>
			<ul class="submenu payments">
				<li>
					{{#link-to 'activity.transactions' marketplace.model active=marketplace.transactionSelected}}
						<span>Transactions</span>
					{{/link-to}}
				</li>
				<li>
					{{#link-to 'activity.orders' marketplace.model active=marketplace.orderSelected}}
						<span>Orders</span>
					{{/link-to}}
				</li>
			</ul>
		</li>
		<li>
			{{#link-to 'marketplace.customers' marketplace.model active=marketplace.customerSelected}}
				<i class="icon-customers"></i>
				<span>Customers</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.funding_instruments' marketplace.model active=marketplace.fundingInstrumentSelected}}
				<i class="icon-card"></i>
				<span>Payment methods</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.disputes' marketplace.model active=marketplace.disputeSelected}}
				<i class="icon-disputes"></i>
				<span>Disputes</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.logs' marketplace.model active=marketplace.logSelected}}
				<i class="icon-logs"></i>
				<span>Logs</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.invoices' marketplace.model active=marketplace.invoiceSelected}}
				<i class="icon-invoices"></i>
				<span>Fees</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.settings' marketplace.model}}
				<i class="icon-settings"></i>
				<span>Settings</span>
			{{/link-to}}
		</li>
	</ul>
{{/if}}
{{partial "_footer"}}
</nav>
