<li>
	{{#linkTo 'activity' model }}
		<i class="icon-activity"></i>
		<span class="nav1a nav-label">Activity</span>
	{{/linkTo}}
</li>
<li>
	{{#linkTo 'logs.index' model }}
		<i class="icon-logs"></i>
		<span class="nav1a nav-label">Logs</span>
	{{/linkTo}}
</li>
<li>
	{{#linkTo 'invoices.index' model }}
		<i class="icon-invoices"></i>
		<span class="nav1a nav-label">Invoices</span>
	{{/linkTo}}
</li>
<li>
	{{#linkTo 'marketplace.settings' model }}
		<i class="icon-settings"></i>
		<span class="nav1a nav-label">Settings</span>
	{{/linkTo}}
</li>

<li class="nav-separator"></li>
<li>
	{{#linkTo 'marketplace.add_customer' }}
		<i class="icon-addcustomer"></i>
		<span class="nav1a nav-label">Add<br>Customer</span>
	{{/linkTo}}
</li>
<li>
	<a href="#" {{action openPaySellerModal}}>
		<i class="icon-bankaccount"></i>
		<span class="nav1a nav-label">Pay A Seller</span>
	</a>
</li>

{{view Balanced.PaySellerModalView}}
