<li class="marketplaces nav1a">{{#linkTo marketplace model }} Overview {{/linkTo}}</li>
<li class="activity nav1a">{{#linkTo marketplace.activity model }} Activity {{/linkTo}}</li>
<li class="logs nav1a">{{#linkTo marketplace.logs model }} Logs {{/linkTo}}</li>
<li class="invoices nav1a">{{#linkTo marketplace.invoices model }} Invoices {{/linkTo}}</li>
<li class="settings nav1a"><span>Settings</span></li>
