<nav id="marketplace-nav">
{{#if marketplace}}
	<ul>
		<li>
			{{#link-to 'activity' model}}
				<i class="icon-payments"></i>
				<span>Payments</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.customers' marketplace.model active=customerSelected}}
				<i class="icon-customers"></i>
				<span>Customers</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.funding_instruments' marketplace.model active=fundingInstrumentSelected}}
				<i class="icon-payment-methods"></i>
				<span>Payment methods</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.disputes' marketplace.model active=disputeSelected}}
				<i class="icon-disputes"></i>
				<span>Disputes</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.logs' marketplace.model active=logSelected}}
				<i class="icon-logs"></i>
				<span>Logs</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.invoices' marketplace.model active=invoiceSelected}}
				<i class="icon-invoices"></i>
				<span>Invoices</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.settings' marketplace.model}}
				<i class="icon-settings"></i>
				<span>Settings</span>
			{{/link-to}}
		</li>
	</ul>
	<div class="button-groups">
		{{#link-to 'marketplace.add_customer' class='btn'}}
			<span>Add a customer</span>
		{{/link-to}}
	</div>
{{/if}}
{{partial "_footer"}}
</nav>
