<li class="activity nav1a">{{#linkTo activity model }} Activity {{/linkTo}}</li>
<li class="logs nav1a">{{#linkTo logs.index model }} Logs {{/linkTo}}</li>
<li class="invoices nav1a">{{#linkTo invoices.index model }} Invoices {{/linkTo}}</li>
<li class="settings nav1a">{{#linkTo marketplace.settings model }} Settings {{/linkTo}}</li>
