<li class="activity nav1a">{{#link-to 'activity' model}} Activity {{/link-to}}</li>
<li class="logs nav1a">{{#link-to 'logs.index' model}} Logs {{/link-to}}</li>
<li class="invoices nav1a">{{#link-to 'invoices.index' model}} Invoices {{/link-to}}</li>
<li class="settings nav1a">{{#link-to 'marketplace.settings' model}} Settings {{/link-to}}</li>

<li class="add-customer nav1a">{{#link-to 'marketplace.add_customer'}}Add<br>Customer{{/link-to}}</li>
<li class="pay-seller nav1a"><a href="#" {{action "openPaySellerModal"}}>Pay A Seller</a></li>

{{view Balanced.PaySellerModalView}}
