<nav id="marketplace-nav">
	<ul>
		<li>
			{{#link-to 'activity' model}}
				<i class="icon-payments"></i>
				<span>Payments</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.customers' model active=customerSelected}}
				<i class="icon-customers"></i>
				<span>Customers</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.funding_instruments' model active=fundingInstrumentSelected}}
				<i class="icon-payment-methods"></i>
				<span>Payment methods</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.disputes' model active=disputeSelected}}
				<i class="icon-disputes"></i>
				<span>Disputes</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.logs' model active=logSelected}}
				<i class="icon-logs"></i>
				<span>Logs</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.invoices' model active=invoiceSelected}}
				<i class="icon-invoices"></i>
				<span>Invoices</span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'marketplace.settings' model}}
				<i class="icon-settings"></i>
				<span>Settings</span>
			{{/link-to}}
		</li>
	</ul>
	<div class="button-groups">
		{{#link-to 'marketplace.add_customer' class='btn'}}
			<span>Add a customer</span>
		{{/link-to}}
		<a class="btn pay-a-seller" href="#" {{action "openPaySellerModal"}}>
			<span>Pay a seller</span>
		</a>
		<a class="btn charge-a-card" href="#" {{action "openChargeCardModal"}}>
			<span>Charge a card</span>
		</a>
	</div>
	{{view Balanced.PaySellerModalView}}
	{{view Balanced.ChargeCardModalView}}
</nav>
