<li class="activity nav1a">{{#linkTo 'activity' model }} Activity {{/linkTo}}</li>
<li class="logs nav1a">{{#linkTo 'logs.index' model }} Logs {{/linkTo}}</li>
<li class="invoices nav1a">{{#linkTo 'invoices.index' model }} Invoices {{/linkTo}}</li>
<li class="settings nav1a">{{#linkTo 'marketplace.settings' model }} Settings {{/linkTo}}</li>

<li class="add-customer nav1a">{{#linkTo 'marketplace.add_customer' }}Add<br>Customer{{/linkTo}}</li>
<li class="pay-seller nav1a"><a href="#" {{action openPaySellerModal}}>Pay A Seller</a></li>

{{view Balanced.PaySellerModalView}}
