{{#each meta in meta_array}}
    <div class="control-group">
        <label class="control-label">{{ meta.key }}</label>
        <div class="controls">
            <span class="inline-label">
                {{ meta.value }}
            </span>
        </div>
    </div>
{{/each}}