{{#if controllers.application.hasNotification}}
	<div class="alert-row">
		<div class="row-fluid notification-center notification-center-row">
			<div class="notification-center-message">
				{{#if controllers.application.hasGuestNotification}}
					<span> You're logged in as a temporary guest user. {{#link-to 'claim'}}Claim your account to save your data. >{{/link-to}}</span>
				{{else}}
					<span> Please verify your marketplace bank account by confirming the deposit amounts. <a href="#" {{action "openVerifyBankAccountLink" target="controllers.application"}}>Verify now.</a></span>
				{{/if}}
			</div>
		</div>
	</div>
{{/if}}
