<div id="welcome-transition" class="modal fade hide">
    <div class="modal-body">
        <h1>A fresh<br>new look</h1>
        <p class="label3a">Balanced is excited to unveil a newly redesigned dashboard with improved
            navigation and functionality to help you better manage your customers
            and transactions.</p>
        <div class="actions">
            <button class="btn" {{action hideWelcome}}>Continue</button>
        </div>
    </div>
</div>
