<section id="main" class="container account_security_page">
    <div class="row">
        <div id="account_security" class="seperate-page span16">
            <h1 class="page-title">Account Security</h1>
            <p>Set up two-factor authentication to add another layer of security to your dashboard account. In addition to your login email and password, you'll need to enter an authentication code from Balanced using your Google Authenticator app on your smartphone.</p>
            <div class="status-circle large">
                <h3>Status</h3>
                <div class="status-circle green">Enabling</div>
                <div class="status-circle faded">Disable</div>
            </div>
            <div class="window-pane">
                <div class="pane">
                    <div class="left-pane">
                        <h3 class="subhead step">Step 1:</h3>
                        <h3 class="subhead">Install Google Authenticator</h3>
                        <div class="description">
                            To activate two-factor authentication for your Balanced Dashboard account, you will need to install Google Authenticator <i>(or other comparable authenticaiton applications)</i> on your mobile device. Download the app from the app store on your smartphone.
                        </div>
                    </div>
                    <div class="right-pane">
                        <img src=""/>
                    </div>
                </div>
                <div class="pane">
                    <div class="left-pane">
                        <h3 class="subhead step">Step 2:</h3>
                        <h3 class="subhead">Scan QR Code</h3>
                        <div class="description">
                            Open the Authenticator app. Tap on "begin setup" followed by "scan barcode." Scan the QR code to the right.
                        </div>
                    </div>
                    <div class="right-pane">
                        <div id="qrcode"></div>
                        <div><a>Regenerate Code</a></div>
                    </div>
                </div>
                <div class="pane">
                    <div class="left-pane">
                        <h3 class="subhead step">Step 3:</h3>
                        <h3 class="subhead">Enter Authentication Code</h3>
                        <div class="description">
                            Enter the authentication code from your smartphone. Code expires in thirty seconds.
                        </div>
                    </div>
                    <div class="right-pane">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>