<header>
    <img src="static/images/balanced_logo-vertical-01.png" alt="Balanced Logo">
    <nav>
    <ul>
        <li>{{#linkTo marketplaces.index }}Marketplaces{{/linkTo}}</li>
    </ul>
    </nav>
</header>

<!-- a dynamic section of the view hierarchy that will be filled in
     response to routing changes -->
{{outlet}}
