
<header id="header" class="container">
    <div class="row">
        <div id="logo" class="span2">
            {{#linkTo root  class="img"}}Balanced Dashboard{{/linkTo}}
        </div>
        <div id="marketplaces-and-search" class="span18">
            <div id="marketplaces">
                <span class="nav2d">Marketplaces</span>
                <span class="nav1d">(live)</span>
                {{outlet marketplaces}}
            </div>
            <div id="search">
                <input type="search" name="q" id="q" placeholder="Search">
                {{outlet search}}
            </div>
        </div>
        <div id="site-nav" class="span6">
            <div id="docs-menu">
                <a href="https://docs.balancedpayments.com" class="nav1d" target="new">docs</a>
            </div>
            <div id="help-menu">
                <a href="https://help.balancedpayments.com" class="nav1d" target="new">help</a>
            </div>
            <div id="user-menu">
                <span class="nav1d">{{#linkTo login.create }}Login{{/linkTo}}</span>
            </div>
        </div>
    </div>
</header>

<section id="main" class="container">
    <div class="row">
        <nav id="marketplace-nav" class="span2">
            {{outlet sidebar}}
            <ul>
                <li></li>
                <li>{{#linkTo marketplaces.index }}Marketplaces{{/linkTo}}</li>
                <li><span>Overview</span></li>
                <li><span>Invoices</span></li>
                <li><span>Logs</span></li>
                <li><span>Settings</span></li>
            </ul>
        </nav>
        <div id="content" class="span24">
            <div class="row">
                <div class="offset2 span22">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</section>
