
<header id="header" class="container">
    <div class="row">
        <div id="logo" class="span2">
            {{#linkTo "index"  class="img"}}Balanced Dashboard{{/linkTo}}
        </div>
        <div id="marketplaces-and-search" class="span18">
            <div id="marketplaces" class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                        <span class="nav2d">Marketplaces</span>
                    <span class="nav1d">(live)</span>
                    <b class="caret"></b>
                </a>
                {{outlet marketplaces}}
                <ul class="dropdown-menu">
                    <li>
                        <h4 class="label6a">Production</h4>
                        <ul>
                            <li class="label2a"><a href="#">one</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4 class="label6a">Test</h4>
                        <ul>
                            <li class="label2a"><a href="#">one</a></li>
                            <li class="label2a"><a href="#">one</a></li>
                            <li class="label2a"><a href="#">one</a></li>
                        </ul>
                    </li>
                    <li class="new label2d"><a href="#"> + Add a marketplace</a></li>
                </ul>
            </div>
            <div id="search">
                <form>
                <input type="search" name="q" id="q">
                <span class="close">×</span>
                {{outlet search}}
                </form>
                <div class="results">
                    <header>
                        <nav>
                            <li class="selected label2a">
                                <a href="#">Transactions (5)</a>
                                <div class="selector dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>choose your txn type</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="disabled label2a">
                                <span>Accounts (0)</span>
                            </li>
                            <li class="disabled label2a">
                                <span>Cards &amp; Bank Accounts (0)</span>
                                <div class="selector dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>choose your txn type</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="timing dropdown label4a">
                                <a class="dropdown-toggle"
                                   data-toggle="dropdown"
                                   href="#">
                                    Any time
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <ul class="set-times">
                                            <li><a href="#">Anytime</a></li>
                                            <li><a href="#">Past hour</a></li>
                                            <li><a href="#">Past 24 hours</a></li>
                                            <li><a href="#">Past week</a></li>
                                            <li><a href="#">Past month</a></li>
                                        </ul>
                                        <div class="date-picker">
                                            <div class="after">
                                                <div class="dt">
                                                    <input type="text" name="after" class="dp" data-element="#search .timing .after">
                                                </div>
                                            </div>
                                            <div class="before selected">
                                                <div class="dt">
                                                    <input type="text" name="before" class="dp" data-element="#search .timing .before">
                                                </div>
                                            </div>
                                            <button class="btn go">Go</button>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </nav>
                    </header>
                    <table class="transactions">
                        <thead>
                            <tr>
                                <th class="span3 label6a sortable unsorted">Date</th>
                                <th class="span3 label6a type">Transaction</th>
                                <th class="span4 label6a description">Description</th>
                                <th class="span4 label6a account">Account</th>
                                <th class="span4 label6a funding-instrument">Card or Bank Account</th>
                                <th class="span2 label6a amount sortable unsorted num">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="span3 date">
                                <time datetime="2013-04-18T19:27:22.643658+00:00" data-format="%b %d" title="2013-04-18T19:27:22.643658+00:00">11 Mar 2013, 5:29 pm</time>
                            </td>
                            <td class="span3 label4f type failed">
                                Credit: failed
                            </td>
                            <td class="span4 description">
                                Order #00003784
                            </td>
                            <td class="span4 account">
                                John Coltdane (jcoltrane@gmail.com)
                            </td>
                            <td class="span4 funding-instrument">3785 (Amex) / John Coltrane</td>
                            <td class="span2 amount num">$158.92</td>
                        </tr>
                        <tr>
                            <td class="span3 date">
                                <time datetime="2013-04-18T19:27:22.643658+00:00" data-format="%b %d" title="2013-04-18T19:27:22.643658+00:00">Apr 18</time>
                            </td>
                            <td class="span3 label4c type failed">
                                Credit: failed
                            </td>
                            <td class="span4 description">
                                Order #00003784
                            </td>
                            <td class="span4 account">
                                John Coltdane (jcoltrane@gmail.com) and some other shit that's way too long for this column
                            </td>
                            <td class="span4 funding-instrument">3785 (Amex) / John Coltrane</td>
                            <td class="span2 amount num">$158.92</td>
                        </tr>
                        <tr>
                            <td class="span3 date">
                                <time datetime="2013-04-18T19:27:22.643658+00:00" data-format="%b %d" title="2013-04-18T19:27:22.643658+00:00">Apr 18</time>
                            </td>
                            <td class="span3 label4a type failed">
                                Credit: failed
                            </td>
                            <td class="span4 description">
                                Order #00003784
                            </td>
                            <td class="span4 account">
                                John Coltdane (jcoltrane@gmail.com)
                            </td>
                            <td class="span4 funding-instrument">3785 (Amex) / John Coltrane</td>
                            <td class="span2 amount num">$158.92</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="site-nav" class="span6">
            <div id="go-live-menu">
                <a href="#" class="nav1d">production access</a>
            </div>
            <div id="docs-menu">
                <a href="https://docs.balancedpayments.com" class="nav1d" target="new">docs</a>
            </div>
            <div id="help-menu">
                <a href="https://help.balancedpayments.com" class="nav1d" target="new">help</a>
            </div>
            <div id="user-menu">
                {{#linkTo "login" class="nav1d" }}Login{{/linkTo}}
            </div>
        </div>
    </div>
</header>

<section id="main" class="container">
    <div class="row">
        <nav id="marketplace-nav" class="span2">
            {{outlet sidebar}}
            <ul>
                <li></li>
                <li class="marketplaces nav1a">{{#linkTo marketplaces }}Marketplaces{{/linkTo}}</li>
                <li class="activity nav1a"><span>Activity</span></li>
                <li class="logs nav1a"><span>Logs</span></li>
                <li class="invoices nav1a"><span>Invoices</span></li>
                <li class="settings nav1a"><span>Settings</span></li>
            </ul>
        </nav>
        <div id="content" class="span24">
            <div class="row">
                <div class="offset2 span22">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</section>
