{{render "notification_center"}}
<section class="container column">
	<header class="letterhead">
		<a class="logo logo-dots" href="https://www.balancedpayments.com">
			<img src="/images/logo_3dots.png"/>
		</a>
	</header>

	<div class="contents">
		{{yield}}
	</div>
</section>
