<h1 class="page-title">Credit</h1>

<div id="credit" class="transaction">
	<div class="title-block tb-egyptian-blue">
		<span class="tb-icon">
			<i class="icon icon-order"></i>
		</span>
		<span class="tb-content">
			{{page_title}}
		</span>
	</div>

	{{txn-customer customer=customer}}

	<div class="transaction-details">
		{{#each reversal in model.reversals}}
			{{txn-reversal reversal=reversal}}
		{{/each}}

		{{txn-credit credit=model}}
	</div>
</div>
