<div class="action pull-right datetime-picker">
	<span class="title">Period:</span>
	<time {{bind-attr datetime="view.minTime"}} class="min-date date">{{view.minDate}}</time>
	<span class="sep">-</span>
	<time {{bind-attr datetime="view.maxTime"}} class="max-date date">{{view.maxDate}}</time>
	<b class="caret"></b>
</div>
