<footer id='balanced-footer'>
	<div class="info-links">
		<a href="https://www.balancedpayments.com/privacy" target="_blank">Privacy Policy</a>
		<a href="https://www.balancedpayments.com/terms" target="_blank">Terms of Use</a>
		<a href="https://www.balancedpayments.com/terms/marketplaceagreement" target="_blank">Marketplace Agreement</a>
		<a href="https://www.balancedpayments.com/terms/selleragreement" target="_blank">Seller Agreement</a>
		<a href="https://status.balancedpayments.com" target="_blank">Status</a>
		<a href="mailto:support@balancedpayments.com">Contact us</a>
	</div>

	<span class="copyright-label">&copy; {{current-year}} Balanced</span>
</footer>
