<section id="main" class="container">
  <div id="forgot-password">
    <div class="row">
      <div id="content" class="span26">
        <div class="row">
          <div class="offset9 span8">
            <a href="https://www.balancedpayments.com"><img class="logo" src="images/balanced-logo.png" alt="Balanced" /></a>

            <form id="forgot-form" method="POST" {{ bindAttr class="hasError:error" }} {{action "forgotPass" on="submit"}}>
              {{view Ember.TextField type="email" name="email_address" valueBinding="email_address" placeholder="Email"}}

              <p class="pull-left instructions">You will receive an e-mail with reset instructions.</p>
              <button class="pull-right" type="submit">Reset</button>
            </form>

            {{#if submitted}}
              <div class="alert alert-black">
                We've sent you an e-mail with password reset instructions.
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
