<section id="forgot-password" class="container">
  <div class="row">
    <div id="content" class="span26">
      <div class="row">
        <div class="offset2 span22">
          <div class="offset6 span8">
            <img class="logo" src="static/images/balanced_logo-vertical-01.png" alt="Balanced" />

            <form id="forgot-form">
              {{view Ember.TextField type="email" name="email" valueBinding="email" placeholder="Email"}}

              <p class="pull-left instructions">You will recieve an e-mail with reset instructions.</p>
              <button class="pull-right" {{action "forgotPassword"}} type="button">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>