<h1 class="page-title">{{title}} {{#if iframeLoading}}<div class="loader-container"><span class="loader loading"></span></div>{{/if}}</h1>

{{view Balanced.EmbeddedIframeView iframeUrlBinding="uri"}}
