<section id="main" class="container">
  <div class="row">
    <div id="content" class="span26">
      <div class="row">
        <div class="offset2 span22">

<div class="row">
    <div class="span11">
        <h1>heading</h1>
        <h2>heading</h2>
        <h3>heading</h3>

        <p>Buttons</p>
        <div>
            <a href="#" class="btn">Confirm</a>
            <a href="#" class="btn danger">Cancel</a>
            <button>Confirm</button>
            <button class="danger">Cancel</button>
        </div>

        <p><br>Modal example</p>
        <div>
            <a href="#capture-hold" class="btn" data-toggle="modal">Capture hold</a>
            <div class="modal hide" id="capture-hold">
                <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2>Capture the hold</h2>
                </div>
                <div class="modal-body">
                    <p class="body2a">Lorem poopsum ipsum.</p>
                    <ul class="summary-info">
                        <li><label>Buyer</label>Aaron hill</li>
                        <li><label>Credit card #</label>xxxx xxxx xxxx 1234</li>
                        <li><label>Card holder's name</label>Aaron hill</li>
                        <li><label>Card type</label>VISA</li>
                    </ul>
                    <label>Description</label>
                    <input type="text" value="Order #0234843" class="full">
                    <label>Appears on statement as</label>
                    <input type="text" value="" class="full">

                    <label>Amount</label>
                    <div class="input-prepend">
                        <span class="add-on">$</span>
                        <input type="number" value="295.00">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn danger" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn">Capture hold</button>
                </div>
                </form>
            </div>
        </div>

        <p><br>Confirmation box</p>
        <div>
            <a href="#confirmation" class="btn" data-toggle="modal">Confirm action</a>
            <div class="modal hide" id="confirmation">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h2>Remove this card?</h2>
                    </div>
                    <div class="modal-body">
                        <p class="body2a">Lorem poopsum ipsum.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        <button class="btn">Remove card</button>
                    </div>
                </form>
            </div>
        </div>
        <p><br>Loader <span class="loader loading"></span></p>
    </div>
    <div class="offset1 span8">
        <div class="label1a">label1a</div>
        <div class="label2a">label2a</div>
        <div class="label3a">label3a</div>
        <div class="label4a">label4a</div>
        <div class="label5a">label5a</div>
        <div class="label6a">label6a</div>
        <div class="number1a">number1a</div>
        <div class="nav1a">nav1a</div>
        <div class="nav2a">nav2a</div>
    </div>
</div>

<div class="row">
    <div class="span20">
        <!--
        <iframe id="migration-frame" src="https://www.balancedpayments.com/marketplaces/MP5Pg8XIUxdZn4L8gbcIfy2t/transactions?embedded=1"
        -->
    </div>
</div>

        </div>
      </div>
    </div>
  </div>
</section>
