<section id="main">
    <h2>Login</h2>

{{#if Balanced.currentLogin}}
<form id="logout-form">
    {{#view Balanced.LoginDestroyView}}
    <button type="button">Logout</button>
    {{/view}}
</form>
{{else}}
<form id="auth-form">
    <input type="email" name="email_address" placeholder="email address">
    <input type="password" name="password" placeholder="password">
    {{#view Balanced.LoginCreateView}}
    <button type="button">Login</button>
    {{/view}}
</form>
{{/if}}

</section>

<footer id="footer">

</footer>
