<ul class="dropdown-menu">
	{{#if user.hasProductionMarketplace}}
		<li class="group">
			<h4 class="label4b">Production</h4>
			<ul>
				{{#each user_marketplace in user.user_marketplaces}}
					{{#if user_marketplace.production}}
						<li class="label3a">
							{{#link-to 'activity' user_marketplace.id}}{{user_marketplace.name}}{{/link-to}}
						</li>
					{{/if}}
				{{/each}}
			</ul>
		</li>
	{{/if}}

	<li class="group">
		<h4 class="label4b">Test</h4>
		<ul>
			{{#each user_marketplace in user.user_marketplaces}}
				{{#unless user_marketplace.production}}
					<li class="label3a">
						{{#link-to 'activity' user_marketplace.id}}{{user_marketplace.name}}{{/link-to}}
					</li>
				{{/unless}}
			{{/each}}
		</ul>
	</li>

	{{#unless auth.isGuest}}
		<li class="label3a manage-marketplaces">{{#link-to 'marketplaces'}}Manage marketplaces{{/link-to}}</li>
	{{/unless}}
</ul>
