<section id="main" class="container marketplaces">
	{{view "marketplace_sidebar" marketplace=controllers.marketplace.marketplace}}
	{{partial "header"}}
	<div id="content">
		{{outlet}}
	</div>
</section>
