<h3>marketplaces.index</h3>
{{Balanced.MarketplacesIndexController.length}}
<ul id="marketplace-list">
  {{#each marketplace in controller}}
    <li>
        {{#linkTo marketplaces.show marketplace }}{{marketplace.name}}{{/linkTo}}
    </li>
  {{/each}}
</ul>
{{outlet}}
