<ul class="dropdown-menu">
    <li>
        <h4 class="label7a">Production</h4>
        <ul>
          {{#each user_marketplace in Balanced.Auth.user.user_marketplaces }}
              {{#if user_marketplace.production }}
            <li class="label2a">
              {{#linkTo 'activity' user_marketplace.id }}{{user_marketplace.name}}{{/linkTo}}
            </li>
          {{/if}}
          {{/each}}
        </ul>
    </li>
    <li>
        <h4 class="label7a">Test</h4>
        <ul>
            {{#each user_marketplace in Balanced.Auth.user.user_marketplaces }}
                {{#unless user_marketplace.production }}
                    <li class="label2a">
                        {{#linkTo 'activity' user_marketplace.id }}{{user_marketplace.name}}{{/linkTo}}
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
    </li>
    {{#unless Balanced.Auth.isGuest}}
    <li class="new label2d manage-marketplaces">{{#linkTo 'marketplaces' }}Manage marketplaces{{/linkTo}}</li>
    {{/unless}}
</ul>
