<ul class="dropdown-menu">
	<li class="group">
		<h4 class="label4b">Production</h4>
		<ul>
			{{#each user_marketplace in auth.user.user_marketplaces}}
				{{#if user_marketplace.production}}
					<li class="label4a">
						{{#link-to 'marketplace' user_marketplace.id}}{{user_marketplace.name}}{{/link-to}}
					</li>
				{{/if}}
			{{/each}}
			{{#unless user.hasProductionMarketplace}}
				<li class="none">None</li>
			{{/unless}}
		</ul>
	</li>
	<li class="group">
		<h4 class="label4b">Test</h4>
		<ul>
			{{#each user_marketplace in auth.user.user_marketplaces}}
				{{#unless user_marketplace.production}}
					<li class="label4a">
						{{#link-to 'marketplace' user_marketplace.id}}{{user_marketplace.name}}{{/link-to}}
					</li>
				{{/unless}}
			{{/each}}
			{{#unless user.hasTestMarketplace}}
				<li class="none">None</li>
			{{/unless}}
		</ul>
	</li>
	{{#unless auth.isGuest}}
		<li class="label4a manage-marketplaces">{{#link-to 'marketplaces.index'}}Manage marketplaces{{/link-to}}</li>
	{{/unless}}
</ul>
