<div style="text-align: center;">
	<div class="padded-section">
		<h3>We have connected to your Stripe account</h3>
	</div>
	<p>
		We will migrate your information to your Stripe account and email you when the migration process is completed.
	</p>
</div>
