<h1 class="page-title title-1">Next step</h3>

<div style="text-align: center;">
	<div class="padded-section">
		<h3>Activate your stripe account</h3>
	</div>
	<p>
		Provide your personal and business information to obtain process access to stripe.<br/>
		You will not be able to process live until you've activated your account.</p>
	<div class="padded-section">
		<a {{bind-attr href=view.activateAccountHref}} class="btn btn-lg btn-info">Activate Stripe account</a>
	</div>
</div>
