{{#each alert in controller}}
	<div class="alert-row">
		<div {{bind-attr class=":row-fluid :notification-center alert.type"}}>
			<div class="notification-center-message">
				<span class="message">{{alert.message}}</span>
				{{#if alert.linkText}}
					{{#link-to alert.linkTo}}{{alert.linkText}}{{/link-to}}
				{{/if}}
			</div>
		</div>
	</div>
{{/each}}
