<div id="order">

	<h1 class="page-title">Order</h1>
	
	<div class="order-header main-header">
		<div class="row">
			<div class="span2 label">
				<i class="icon-order"></i>
			</div>
			<div class="span8 title">
				<span class="nav3d">
					70315 Oktober Fest By The Bay
					{{!title_description}}
				</span>
			</div>
		</div>
	</div>

	<div class="order-sub-header">
		<span class="created">Created: Tue, 9 Apr 2013, 4:19 PM</span>
		<span class="order-id">Order ID: OR34xcMwd916xOaDp38vB5x</span>
	</div>

	<div class="order-summary">
		<div class="row head">
			<div class="span10">Summary</div>
			<div class="span4">Quantity</div>
			<div class="span4">Total</div>
		</div>
		<div class="row">
			<div class="span10">Debits</div>
			<div class="span4">1</div>
			<div class="span4">$100.00</div>
		</div>
		<div class="row">
			<div class="span10">Refunds</div>
			<div class="span4"><span>0</span></div>
			<div class="span4"><span>$0.00</span></div>
		</div>
		<div class="row">
			<div class="span10">Credits</div>
			<div class="span4"><span>0</span></div>
			<div class="span4"><span>$0.00</span></div>
		</div>
		<div class="row">
			<div class="span10">Reversals</div>
			<div class="span4"><span>0</span></div>
			<div class="span4"><span>$0.00</span></div>
		</div>
	</div>

	<div class="order-total">
		<h1>$100.00</h1>
		<p>Escrow balance for this order</p>
	</div>

</div>
