<form id="forgot-form" class="otp-form" {{action "otpSubmit" on="submit"}}>
	{{view "form-fields/text-form-field" model=model inputClassNames="full" labelText="Authentication code" field="otpCode"}}
	<div class="pull-right">
		<button type="submit" {{bind-attr class="isSubmitting:disabled" disabled=isSubmitting}}>Authenticate</button>
	</div>
</form>
