<section id="main" class="container">
  <div id="reset-password">
    <div class="row">
      <div id="content" class="span26">
        <div class="row">
          <div class="offset9 span8">
            <a href="https://www.balancedpayments.com"><img class="logo" src="images/balanced-logo.png" alt="Balanced" /></a>
              <form id="reset-password-form" {{ bindAttr class="hasError:error" }} method="POST" {{action "resetPassword" on="submit"}}>
                {{view Ember.TextField type="password" name="password" valueBinding="password" placeholder="New Password"}}

                {{view Ember.TextField type="password" name="password_confirm" valueBinding="password_confirm" placeholder="Confirm Password"}}

                <p class="pull-left instructions">Your new password must be at least 6 characters, and contain both a digit and an alpha character.</p>
                <button class="pull-right" type="submit">Update</button>
              </form>

              {{#if submitted}}
                <div class="alert alert-black">
                  Your password has successfully been updated.<br />
                  Click {{#linkTo "login" }}here{{/linkTo}} to login.
                </div>
              {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
