<h1 class="page-title">Reversal</h1>

<div id="reversal" class="transaction">

  <div class="main-header transactions-header">
    <div class="row">
      <div class="span2 label">
        <div class="icon">Reversal</div>
      </div>
        <div class="span10 title">
        <span class="nav3d">
          {{page_title}}
        </span>
      </div>

        <div class="span8 buttons">
          <div class="buttons-container"></div>
        </div>
    </div>
  </div>

  {{txn-customer customer=credit.customer}}

  <div class="transaction-details">
    {{txn-reversal reversal=model}}
    {{txn-credit credit=credit marketplace=controllers.marketplace.model}}
  </div>
</div>
