<h1 class="page-title">Reversal</h1>

<div id="reversal" class="transaction">

  <div class="main-header transactions-header">
    <div class="row">
      <div class="span2 label">
        <div class="icon">Reversal</div>
      </div>
        <div class="span14 title">
        <span class="nav2d">
          {{description}}
        </span>
      </div>

        <div class="span4 buttons">
        </div>
    </div>
  </div>

  {{txn-customer customer=customer}}

  <div class="transaction-details">
    {{txn-reversal reversal=model}}
    {{txn-credit credit=credit}}
  </div>
</div>
