<div class="row">
    <div class="span11">
        <h1>heading</h1>
        <h2>heading</h2>
        <h3>heading</h3>

        <div>
            <a href="#" class="btn">Confirm</a>
            <a href="#" class="btn danger">Cancel</a>
            <button>Confirm</button>
            <button class="danger">Cancel</button>
        </div>

        <div class="modal">
            <form>
            <div class="modal-header">
                <h2>Capture the hold</h2>
            </div>
            <div class="modal-body">
                <ul class="summary-info">
                    <li><label>Buyer</label>Aaron hill</li>
                    <li><label>Credit card #</label>xxxx xxxx xxxx 1234</li>
                    <li><label>Card holder's name</label>Aaron hill</li>
                    <li><label>Card type</label>VISA</li>
                </ul>
                    <label>Description</label>
                    <input type="text" value="Order #0234843" class="full">
                    <label>Appears on statement as</label>
                    <input type="text" value="" class="full">

                    <label>Amount</label>
                    <div class="input-prepend">
                        <span class="add-on">$</span>
                        <input type="number" value="295.00">
                    </div>

                </ul>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn danger">Close</a>
                <a href="#" class="btn">Capture hold</a>
            </div>
            </form>
        </div>

    </div>
    <div class="offset1 span8">
        <div class="label1a">label1a</div>
        <div class="label2a">label2a</div>
        <div class="label3a">label3a</div>
        <div class="label4a">label4a</div>
        <div class="label5a">label5a</div>
        <div class="label6a">label6a</div>
        <div class="number1a">number1a</div>
        <div class="nav1a">nav1a</div>
        <div class="nav2a">nav2a</div>
    </div>
</div>
