{{#each alert in controller}}
	<div class="alert-row top">
		<div {{bind-attr class=":alert-strip alert.type"}}></div>
		<div {{bind-attr class=":alert alert.type"}}>
			<div {{bind-attr class=":alert-text-wrapper alert.type"}}>
				<span class="body1">{{alert.message}}</span>
			</div>
			<div class="button-wrapper right"></div>
		</div>
	</div>
{{/each}}
