<div class="dropdown borderless datetime-picker">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    	<i class="icon-calendar"></i>
		<span {{bind-attr datetime="view.minTime"}} class="min-date date">{{view.minDate}}</span>
		<span class="sep">–</span>
		<span {{bind-attr datespan="view.maxTime"}} class="max-date date">{{view.maxDate}}</span>
		<b class="caret"></b>
    </a>
</div>
