<div class="clearfix">
	{{view Ember.Select
		content=view.dateYears
		value=view.year
		name="dobYear"
		class="col-md-4"}}
	{{view Ember.Select
		content=view.dateMonths
		value=view.month
		name="dobMonth"
		class="col-md-4"}}
</div>
