<div class="key-value-field-group clearfix">
	{{input viewName="keyInputElement" name="key" typeBinding="view.inputType" value=view.key class="key-value"}}

	{{input viewName="keyInputElement" name="value" typeBinding="view.inputType" value=view.value class="key-value"}}
	<a class="pull-right" {{action "removeField" view.model target=view.parentView.parentView}}>
		<i class="icon-table-x"></i>
	</a>
</div>
