<div class="clearfix">
	{{view Ember.Select
		contentBinding="view.validMonths"
		valueBinding="view.monthValue"
		class="col-md-4"}}
	{{view Ember.Select
		contentBinding="view.validYears"
		valueBinding="view.yearValue"
		class="col-md-4"}}
</div>
